In [2]:
df = mtcars

In [4]:
class(mtcars)

[1] "data.frame"

In [3]:
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [5]:
dim(df)

[1] 32 11

In [6]:
str(df)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [9]:
rownames(df[df['mpg'] == max(df['mpg']), ])

[1] "Toyota Corolla"

In [12]:
rownames(df[df$gear == min(df$gear) & df$mpg == min(df$mpg), ])

[1] "Cadillac Fleetwood"  "Lincoln Continental"

In [15]:
rownames(df[df$mpg > df['Pontiac Firebird', 'mpg'], ])

 [1] "Mazda RX4"      "Mazda RX4 Wag"  "Datsun 710"     "Hornet 4 Drive"
 [5] "Merc 240D"      "Merc 230"       "Fiat 128"       "Honda Civic"
 [9] "Toyota Corolla" "Toyota Corona"  "Fiat X1-9"      "Porsche 914-2"
[13] "Lotus Europa"   "Ferrari Dino"   "Volvo 142E"

In [16]:
mean(df$mpg)

[1] 20.09062

In [17]:
unique(df$gear)

[1] 4 3 5

In [18]:
levels(df$gear)

NULL

In [20]:
table(df$gear)

 3  4  5
15 12  5