In [1]:
v1 <- c(92, 43, 55, 28, 19)
v1

[1] 92 43 55 28 19

In [3]:
v1 <- c('T','T','T','F','F')
v2 <- c(T, F, T, T)

In [4]:
sum(v1)

ERROR: Error in sum(v1): invalid 'type' (character) of argument

In [5]:
sum(v2)

[1] 3

In [6]:
a <- c(1, 2)
b <- '3'
c <- c(a, b)
d <- '4'

In [11]:
class(a)
class(b)
class(b)
class(c)
class(d)

[1] "numeric"

[1] "character"

[1] "character"

[1] "character"

[1] "character"

In [12]:
a <- 25:150
condi <- a[a%%3==0 & a < 100]
length(condi)

[1] 25

In [13]:
a[a%%3 == 0 & a < 100]

 [1] 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [14]:
x <- c(9, 7, 5, 3)
y <- c(8, 11, 2, 9)

In [16]:
m <- rbind(x, y)
m

  [,1] [,2] [,3] [,4]
x 9     7   5    3
y 8    11   2    9

In [17]:
rownames(m) <- c('x', 'y')
colnames(m) <- c('a', 'b', 'c', 'd')

In [18]:
m

  a b  c d
x 9  7 5 3
y 8 11 2 9

In [19]:
str(cars)

'data.frame':	50 obs. of  2 variables:
 $ speed: num  4 4 7 7 8 9 10 10 10 11 ...
 $ dist : num  2 10 4 22 16 10 18 26 34 17 ...

In [20]:
dim(cars)

[1] 50  2

In [21]:
n <- 12
if(n %% 2 == 1){
    type <- 'odd'
}else {
    type <- 'even'
}
type

[1] "even"

In [22]:
ifelse(n < 5, -n, n)

[1] 12

In [23]:
weight <- c(69, 50, 55, 71, 89, 64, 59, 70, 71, 80)
which.max(weight)

[1] 5

In [24]:
which.min(weight)

[1] 2

In [25]:
which(weight >= 61 & weight <= 69)

[1] 1 6

In [26]:
d <- 100:200

In [27]:
d

  [1] 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117
 [19] 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135
 [37] 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153
 [55] 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171
 [73] 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189
 [91] 190 191 192 193 194 195 196 197 198 199 200

In [28]:
d[91:100]

 [1] 190 191 192 193 194 195 196 197 198 199

In [29]:
d[d%%3 == 0]

 [1] 102 105 108 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156
[20] 159 162 165 168 171 174 177 180 183 186 189 192 195 198

In [30]:
d.20 <- d[1:20]

In [31]:
d.20[-5]

 [1] 100 101 102 103 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119

In [32]:
df = USArrests

In [36]:
colMeans(df)[c('Murder', 'Assault', 'Rape')]

 Murder Assault    Rape
  7.788 170.760  21.232

In [38]:
colMeans(df)[c('Murder', 'Assault', 'Rape')]

 Murder Assault    Rape
  7.788 170.760  21.232

In [41]:
blood <- c('A', 'O', 'AB', 'B', 'B')
rh <- c('+', '+', '-', '+', '+')
age <- c(21, 30, 43, 17, 26)
df <- data.frame(blood, rh, age) 
df

  blood rh age
1 A     +  21
2 O     +  30
3 AB    -  43
4 B     +  17
5 B     +  26

In [42]:
colnames(df)

[1] "blood" "rh"    "age"

In [44]:
df.nb <- df[df$blood != 'B', ]
df.nb

  blood rh age
1 A     +  21
2 O     +  30
3 AB    -  43