In [1]:
grade <- 100
if(grade >= 90){
    level <- 'A'
}else if(grade >= 80){
    level <- 'B'
}else if(grade >= 70){
    level <- 'C'
}else if(grade >= 60){
    level <- 'D'
}else{
    level <- 'F'
}

In [2]:
level

[1] "A"

In [3]:
grade

[1] 100

In [4]:
for(i in 1:5){
    print("*")
}

[1] "*"
[1] "*"
[1] "*"
[1] "*"
[1] "*"

In [10]:
for(i in 1:20){
    for(j in 1:i){
        cat("*")
    }
    cat("\n")
}

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************

In [13]:
for(i in 1:9){
    for(j in 1:9){
        cat(i, "x", j, '=', i * j, '\n')
    }
}

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [14]:
sum <- 0
for(i in 1:100){
    sum <- sum + i
}

In [15]:
sum

[1] 5050

In [16]:
count <- 0
mx <- 0
for(i in 1:100){
    if(i%%3 == 0){
        mx <- mx + i
        count <- count + 1
    }
}

In [17]:
mx
count

[1] 1683

[1] 33

In [18]:
number <- 1:7
title <- c('그대랑', '다툼', '빨래', '두통', '보조개', '매듭', '이상해')
live <- c(16075, 8218, 12119, 738, 3200, 16144, 5110)
love <- data.frame(number, title, live)
love

  number title  live
1 1      그대랑 16075
2 2      다툼    8218
3 3      빨래   12119
4 4      두통     738
5 5      보조개  3200
6 6      매듭   16144
7 7      이상해  5110

In [25]:
love['live']

  live
1 16075
2  8218
3 12119
4   738
5  3200
6 16144
7  5110

In [26]:
max(love['live'])

[1] 16144

In [29]:
best <- love[love['live'] == max(love['live']), ]
best

  number title live
6 6      매듭  16144

In [24]:
best <- love[love['live'] == max(love['live'], )]

ERROR: Error in max(love["live"], ): argument 2 is empty

In [30]:
df = mtcars

In [31]:
class(df)

[1] "data.frame"

In [32]:
dim(df)

[1] 32 11

In [33]:
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [34]:
str(df)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [35]:
colMeans(df)

       mpg        cyl       disp         hp       drat         wt       qsec
 20.090625   6.187500 230.721875 146.687500   3.596563   3.217250  17.848750
        vs         am       gear       carb
  0.437500   0.406250   3.687500   2.812500

In [ ]:
df[df['dist']]

In [38]:
rownames(df[df['disp'] == max(df['disp']), ]

                   mpg  cyl disp hp  drat wt   qsec  vs am gear carb
Cadillac Fleetwood 10.4 8   472  205 2.93 5.25 17.98 0  0  3    4

In [39]:
max(df['disp'])

[1] 472

In [55]:
mdx <- df[df['disp'] == max(df['disp']), ]
mdx

                   mpg  cyl disp hp  drat wt   qsec  vs am gear carb
Cadillac Fleetwood 10.4 8   472  205 2.93 5.25 17.98 0  0  3    4

In [48]:
subset[, [c('speed', 'disp')]]

ERROR: Error in parse(text = x, srcfile = src): <text>:1:10: unexpected '['
1: subset[, [
             ^

In [52]:
max <- subset(df, c('speed', 'disp'))

ERROR: Error in subset.data.frame(df, c("speed", "disp")): 'subset' must be logical

In [53]:
subset[c('speed', 'disp')]

ERROR: Error in `[.data.frame`(subset, c("speed", "disp")): undefined columns selected

In [54]:
subset['speed']

ERROR: Error in `[.data.frame`(subset, "speed"): undefined columns selected

In [57]:
mdx['speed']

ERROR: Error in `[.data.frame`(mdx, "speed"): undefined columns selected

In [59]:
colnames(mdx)

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

In [60]:
mdx[, 'disp']

[1] 472

In [61]:
mdx

                   mpg  cyl disp hp  drat wt   qsec  vs am gear carb
Cadillac Fleetwood 10.4 8   472  205 2.93 5.25 17.98 0  0  3    4

In [62]:
cars

   speed dist
1   4      2
2   4     10
3   7      4
4   7     22
5   8     16
6   9     10
7  10     18
8  10     26
9  10     34
10 11     17
11 11     28
12 12     14
13 12     20
14 12     24
15 12     28
16 13     26
17 13     34
18 13     34
19 13     46
20 14     26
21 14     36
22 14     60
23 14     80
24 15     20
25 15     26
26 15     54
27 16     32
28 16     40
29 17     32
30 17     40
31 17     50
32 18     42
33 18     56
34 18     76
35 18     84
36 19     36
37 19     46
38 19     68
39 20     32
40 20     48
41 20     52
42 20     56
43 20     64
44 22     66
45 23     54
46 24     70
47 24     92
48 24     93
49 24    120
50 25     85

In [63]:
class(cars)

[1] "data.frame"

In [64]:
df = cars

In [65]:
dim(cars)

[1] 50  2

In [66]:
head(cars)

  speed dist
1 4      2
2 4     10
3 7      4
4 7     22
5 8     16
6 9     10

In [68]:
mx <- df[df['dist'] == max(df['dist']), ]
mx

   speed dist
49 24    120

In [69]:
mx[c('speed', 'dist')]

   speed dist
49 24    120