In [1]:
df = trees

In [2]:
head(df)

  Girth Height Volume
1  8.3  70     10.3
2  8.6  65     10.3
3  8.8  63     10.2
4 10.5  72     16.4
5 10.7  81     18.8
6 10.8  83     19.7

In [6]:
df[df$Girth > mean(df$Girth) & df$Height > 80 & df$Volume > 50, ]

   Girth Height Volume
26 17.3  81     55.4
27 17.5  82     55.7
31 20.6  87     77.0