In [1]:
city <- c("Seoul", "Tokyo", "Washington")
rank <- c(1, 2, 3)
city.info <- data.frame(city, rank)
city.info

  city       rank
1 Seoul      1
2 Tokyo      2
3 Washington 3

In [2]:
class(iris)

[1] "data.frame"

In [3]:
iris[, 1:2]

    Sepal.Length Sepal.Width
1   5.1          3.5
2   4.9          3.0
3   4.7          3.2
4   4.6          3.1
5   5.0          3.6
6   5.4          3.9
7   4.6          3.4
8   5.0          3.4
9   4.4          2.9
10  4.9          3.1
11  5.4          3.7
12  4.8          3.4
13  4.8          3.0
14  4.3          3.0
15  5.8          4.0
16  5.7          4.4
17  5.4          3.9
18  5.1          3.5
19  5.7          3.8
20  5.1          3.8
21  5.4          3.4
22  5.1          3.7
23  4.6          3.6
24  5.1          3.3
25  4.8          3.4
26  5.0          3.0
27  5.0          3.4
28  5.2          3.5
29  5.2          3.4
30  4.7          3.2
⋮   ⋮            ⋮
121 6.9          3.2
122 5.6          2.8
123 7.7          2.8
124 6.3          2.7
125 6.7          3.3
126 7.2          3.2
127 6.2          2.8
128 6.1          3.0
129 6.4          2.8
130 7.2          3.0
131 7.4          2.8
132 7.9          3.8
133 6.4          2.8
134 6.3          2.8
135 6.1          2.6
136 7.7          3.0
137 6.3          3.4
138 6.4          3.1
139 6.0          3.0
140 6.9          3.1
141 6.7          3.1
142 6.9          3.1
143 5.8          2.7
144 6.8          3.2
145 6.7          3.3
146 6.7          3.0
147 6.3          2.5
148 6.5          3.0
149 6.2          3.4
150 5.9          3.0

In [4]:
iris[, c(1, 2)]

    Sepal.Length Sepal.Width
1   5.1          3.5
2   4.9          3.0
3   4.7          3.2
4   4.6          3.1
5   5.0          3.6
6   5.4          3.9
7   4.6          3.4
8   5.0          3.4
9   4.4          2.9
10  4.9          3.1
11  5.4          3.7
12  4.8          3.4
13  4.8          3.0
14  4.3          3.0
15  5.8          4.0
16  5.7          4.4
17  5.4          3.9
18  5.1          3.5
19  5.7          3.8
20  5.1          3.8
21  5.4          3.4
22  5.1          3.7
23  4.6          3.6
24  5.1          3.3
25  4.8          3.4
26  5.0          3.0
27  5.0          3.4
28  5.2          3.5
29  5.2          3.4
30  4.7          3.2
⋮   ⋮            ⋮
121 6.9          3.2
122 5.6          2.8
123 7.7          2.8
124 6.3          2.7
125 6.7          3.3
126 7.2          3.2
127 6.2          2.8
128 6.1          3.0
129 6.4          2.8
130 7.2          3.0
131 7.4          2.8
132 7.9          3.8
133 6.4          2.8
134 6.3          2.8
135 6.1          2.6
136 7.7          3.0
137 6.3          3.4
138 6.4          3.1
139 6.0          3.0
140 6.9          3.1
141 6.7          3.1
142 6.9          3.1
143 5.8          2.7
144 6.8          3.2
145 6.7          3.3
146 6.7          3.0
147 6.3          2.5
148 6.5          3.0
149 6.2          3.4
150 5.9          3.0

In [5]:
iris[, c(1, 3, 5)]

    Sepal.Length Petal.Length Species
1   5.1          1.4          setosa
2   4.9          1.4          setosa
3   4.7          1.3          setosa
4   4.6          1.5          setosa
5   5.0          1.4          setosa
6   5.4          1.7          setosa
7   4.6          1.4          setosa
8   5.0          1.5          setosa
9   4.4          1.4          setosa
10  4.9          1.5          setosa
11  5.4          1.5          setosa
12  4.8          1.6          setosa
13  4.8          1.4          setosa
14  4.3          1.1          setosa
15  5.8          1.2          setosa
16  5.7          1.5          setosa
17  5.4          1.3          setosa
18  5.1          1.4          setosa
19  5.7          1.7          setosa
20  5.1          1.5          setosa
21  5.4          1.7          setosa
22  5.1          1.5          setosa
23  4.6          1.0          setosa
24  5.1          1.7          setosa
25  4.8          1.9          setosa
26  5.0          1.6          setosa
27  5.0          1.6          setosa
28  5.2          1.5          setosa
29  5.2          1.4          setosa
30  4.7          1.6          setosa
⋮   ⋮            ⋮            ⋮
121 6.9          5.7          virginica
122 5.6          4.9          virginica
123 7.7          6.7          virginica
124 6.3          4.9          virginica
125 6.7          5.7          virginica
126 7.2          6.0          virginica
127 6.2          4.8          virginica
128 6.1          4.9          virginica
129 6.4          5.6          virginica
130 7.2          5.8          virginica
131 7.4          6.1          virginica
132 7.9          6.4          virginica
133 6.4          5.6          virginica
134 6.3          5.1          virginica
135 6.1          5.6          virginica
136 7.7          6.1          virginica
137 6.3          5.6          virginica
138 6.4          5.5          virginica
139 6.0          4.8          virginica
140 6.9          5.4          virginica
141 6.7          5.6          virginica
142 6.9          5.1          virginica
143 5.8          5.1          virginica
144 6.8          5.9          virginica
145 6.7          5.7          virginica
146 6.7          5.2          virginica
147 6.3          5.0          virginica
148 6.5          5.2          virginica
149 6.2          5.4          virginica
150 5.9          5.1          virginica

In [6]:
iris[, c(1, 5)]

    Sepal.Length Species
1   5.1          setosa
2   4.9          setosa
3   4.7          setosa
4   4.6          setosa
5   5.0          setosa
6   5.4          setosa
7   4.6          setosa
8   5.0          setosa
9   4.4          setosa
10  4.9          setosa
11  5.4          setosa
12  4.8          setosa
13  4.8          setosa
14  4.3          setosa
15  5.8          setosa
16  5.7          setosa
17  5.4          setosa
18  5.1          setosa
19  5.7          setosa
20  5.1          setosa
21  5.4          setosa
22  5.1          setosa
23  4.6          setosa
24  5.1          setosa
25  4.8          setosa
26  5.0          setosa
27  5.0          setosa
28  5.2          setosa
29  5.2          setosa
30  4.7          setosa
⋮   ⋮            ⋮
121 6.9          virginica
122 5.6          virginica
123 7.7          virginica
124 6.3          virginica
125 6.7          virginica
126 7.2          virginica
127 6.2          virginica
128 6.1          virginica
129 6.4          virginica
130 7.2          virginica
131 7.4          virginica
132 7.9          virginica
133 6.4          virginica
134 6.3          virginica
135 6.1          virginica
136 7.7          virginica
137 6.3          virginica
138 6.4          virginica
139 6.0          virginica
140 6.9          virginica
141 6.7          virginica
142 6.9          virginica
143 5.8          virginica
144 6.8          virginica
145 6.7          virginica
146 6.7          virginica
147 6.3          virginica
148 6.5          virginica
149 6.2          virginica
150 5.9          virginica

In [8]:
iris[1:5, ]

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

In [9]:
iris[1:5, c(1, 3)]

  Sepal.Length Petal.Length
1 5.1          1.4
2 4.9          1.4
3 4.7          1.3
4 4.6          1.5
5 5.0          1.4

In [10]:
kcal <- c(514, 533, 566)
na <- c(917, 853, 888)
fat <- c(11, 13, 10)
menu <- c('새우', '불고기', '치킨')
burger <- data.frame(kcal, na, fat, menu)

In [11]:
burger

  kcal na  fat menu
1 514  917 11  새우
2 533  853 13  불고기
3 566  888 10  치킨

In [12]:
rownames(burger) <- c('M', 'L', 'B')

In [13]:
burger

  kcal na  fat menu
M 514  917 11  새우
L 533  853 13  불고기
B 566  888 10  치킨

In [14]:
burger['M', ]

  kcal na  fat menu
M 514  917 11  새우

In [15]:
burger['M', 'na']

[1] 917

In [16]:
burger[, 'kcal']

[1] 514 533 566

In [17]:
burger[c('M', 'B'), 'menu']

[1] "새우" "치킨"

In [18]:
dim(iris)

[1] 150   5

In [19]:
nrow(iris)

[1] 150

In [20]:
ncol(iris)

[1] 5

In [21]:
colnames(iris)

[1] "Sepal.Length" "Sepal.Width"  "Petal.Length" "Petal.Width"  "Species"

In [22]:
names(iris)

[1] "Sepal.Length" "Sepal.Width"  "Petal.Length" "Petal.Width"  "Species"

In [23]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [24]:
tail(iris)

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [25]:
str(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [26]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [28]:
iris[, 'Species']

  [1] setosa     setosa     setosa     setosa     setosa     setosa
  [7] setosa     setosa     setosa     setosa     setosa     setosa
 [13] setosa     setosa     setosa     setosa     setosa     setosa
 [19] setosa     setosa     setosa     setosa     setosa     setosa
 [25] setosa     setosa     setosa     setosa     setosa     setosa
 [31] setosa     setosa     setosa     setosa     setosa     setosa
 [37] setosa     setosa     setosa     setosa     setosa     setosa
 [43] setosa     setosa     setosa     setosa     setosa     setosa
 [49] setosa     setosa     versicolor versicolor versicolor versicolor
 [55] versicolor versicolor versicolor versicolor versicolor versicolor
 [61] versicolor versicolor versicolor versicolor versicolor versicolor
 [67] versicolor versicolor versicolor versicolor versicolor versicolor
 [73] versicolor versicolor versicolor versicolor versicolor versicolor
 [79] versicolor versicolor versicolor versicolor versicolor versicolor
 [85] versicolor versicolor versicolor versicolor versicolor versicolor
 [91] versicolor versicolor versicolor versicolor versicolor versicolor
 [97] versicolor versicolor versicolor versicolor virginica  virginica
[103] virginica  virginica  virginica  virginica  virginica  virginica
[109] virginica  virginica  virginica  virginica  virginica  virginica
[115] virginica  virginica  virginica  virginica  virginica  virginica
[121] virginica  virginica  virginica  virginica  virginica  virginica
[127] virginica  virginica  virginica  virginica  virginica  virginica
[133] virginica  virginica  virginica  virginica  virginica  virginica
[139] virginica  virginica  virginica  virginica  virginica  virginica
[145] virginica  virginica  virginica  virginica  virginica  virginica
Levels: setosa versicolor virginica

In [29]:
table(iris[, 'Species'])

    setosa versicolor  virginica
        50         50         50

In [32]:
levels(iris[, 'Species'])

[1] "setosa"     "versicolor" "virginica"

In [34]:
colSums(iris[, 1:4])

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
       876.5        458.6        563.7        179.9

In [35]:
colMeans(iris[, 1:4])

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
    5.843333     3.057333     3.758000     1.199333

In [39]:
rowSums(iris[, -5])

  [1] 10.2  9.5  9.4  9.4 10.2 11.4  9.7 10.1  8.9  9.6 10.8 10.0  9.3  8.5 11.2
 [16] 12.0 11.0 10.3 11.5 10.7 10.7 10.7  9.4 10.6 10.3  9.8 10.4 10.4 10.2  9.7
 [31]  9.7 10.7 10.9 11.3  9.7  9.6 10.5 10.0  8.9 10.2 10.1  8.4  9.1 10.7 11.2
 [46]  9.5 10.7  9.4 10.7  9.9 16.3 15.6 16.4 13.1 15.4 14.3 15.9 11.6 15.4 13.2
 [61] 11.5 14.6 13.2 15.1 13.4 15.6 14.6 13.6 14.4 13.1 15.7 14.2 15.2 14.8 14.9
 [76] 15.4 15.8 16.4 14.9 12.8 12.8 12.6 13.6 15.4 14.4 15.5 16.0 14.3 14.0 13.3
 [91] 13.7 15.1 13.6 11.6 13.8 14.1 14.1 14.7 11.7 13.9 18.1 15.5 18.1 16.6 17.5
[106] 19.3 13.6 18.3 16.8 19.4 16.8 16.3 17.4 15.2 16.1 17.2 16.8 20.4 19.5 14.7
[121] 18.1 15.3 19.2 15.7 17.8 18.2 15.6 15.8 16.9 17.6 18.2 20.1 17.0 15.7 15.7
[136] 19.1 17.7 16.8 15.6 17.5 17.8 17.4 15.5 18.2 18.2 17.2 15.7 16.7 17.3 15.8

In [41]:
rowMeans(iris[, -5])

  [1] 2.550 2.375 2.350 2.350 2.550 2.850 2.425 2.525 2.225 2.400 2.700 2.500
 [13] 2.325 2.125 2.800 3.000 2.750 2.575 2.875 2.675 2.675 2.675 2.350 2.650
 [25] 2.575 2.450 2.600 2.600 2.550 2.425 2.425 2.675 2.725 2.825 2.425 2.400
 [37] 2.625 2.500 2.225 2.550 2.525 2.100 2.275 2.675 2.800 2.375 2.675 2.350
 [49] 2.675 2.475 4.075 3.900 4.100 3.275 3.850 3.575 3.975 2.900 3.850 3.300
 [61] 2.875 3.650 3.300 3.775 3.350 3.900 3.650 3.400 3.600 3.275 3.925 3.550
 [73] 3.800 3.700 3.725 3.850 3.950 4.100 3.725 3.200 3.200 3.150 3.400 3.850
 [85] 3.600 3.875 4.000 3.575 3.500 3.325 3.425 3.775 3.400 2.900 3.450 3.525
 [97] 3.525 3.675 2.925 3.475 4.525 3.875 4.525 4.150 4.375 4.825 3.400 4.575
[109] 4.200 4.850 4.200 4.075 4.350 3.800 4.025 4.300 4.200 5.100 4.875 3.675
[121] 4.525 3.825 4.800 3.925 4.450 4.550 3.900 3.950 4.225 4.400 4.550 5.025
[133] 4.250 3.925 3.925 4.775 4.425 4.200 3.900 4.375 4.450 4.350 3.875 4.550
[145] 4.550 4.300 3.925 4.175 4.325 3.950

In [42]:
z <- matrix(1:20, nrow=3)

Warning message in matrix(1:20, nrow = 3):
"data length [20] is not a sub-multiple or multiple of the number of rows [3]"

In [43]:
z

     [,1] [,2] [,3] [,4] [,5] [,6] [,7]
[1,] 1    4    7    10   13   16   19
[2,] 2    5    8    11   14   17   20
[3,] 3    6    9    12   15   18    1

In [44]:
reversed <- t(z)
reversed

     [,1] [,2] [,3]
[1,]  1    2    3
[2,]  4    5    6
[3,]  7    8    9
[4,] 10   11   12
[5,] 13   14   15
[6,] 16   17   18
[7,] 19   20    1

In [45]:
str(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [47]:
iris[iris['Species'] == 'setosa', ]

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
2  4.9          3.0         1.4          0.2         setosa
3  4.7          3.2         1.3          0.2         setosa
4  4.6          3.1         1.5          0.2         setosa
5  5.0          3.6         1.4          0.2         setosa
6  5.4          3.9         1.7          0.4         setosa
7  4.6          3.4         1.4          0.3         setosa
8  5.0          3.4         1.5          0.2         setosa
9  4.4          2.9         1.4          0.2         setosa
10 4.9          3.1         1.5          0.1         setosa
11 5.4          3.7         1.5          0.2         setosa
12 4.8          3.4         1.6          0.2         setosa
13 4.8          3.0         1.4          0.1         setosa
14 4.3          3.0         1.1          0.1         setosa
15 5.8          4.0         1.2          0.2         setosa
16 5.7          4.4         1.5          0.4         setosa
17 5.4          3.9         1.3          0.4         setosa
18 5.1          3.5         1.4          0.3         setosa
19 5.7          3.8         1.7          0.3         setosa
20 5.1          3.8         1.5          0.3         setosa
21 5.4          3.4         1.7          0.2         setosa
22 5.1          3.7         1.5          0.4         setosa
23 4.6          3.6         1.0          0.2         setosa
24 5.1          3.3         1.7          0.5         setosa
25 4.8          3.4         1.9          0.2         setosa
26 5.0          3.0         1.6          0.2         setosa
27 5.0          3.4         1.6          0.4         setosa
28 5.2          3.5         1.5          0.2         setosa
29 5.2          3.4         1.4          0.2         setosa
30 4.7          3.2         1.6          0.2         setosa
31 4.8          3.1         1.6          0.2         setosa
32 5.4          3.4         1.5          0.4         setosa
33 5.2          4.1         1.5          0.1         setosa
34 5.5          4.2         1.4          0.2         setosa
35 4.9          3.1         1.5          0.2         setosa
36 5.0          3.2         1.2          0.2         setosa
37 5.5          3.5         1.3          0.2         setosa
38 4.9          3.6         1.4          0.1         setosa
39 4.4          3.0         1.3          0.2         setosa
40 5.1          3.4         1.5          0.2         setosa
41 5.0          3.5         1.3          0.3         setosa
42 4.5          2.3         1.3          0.3         setosa
43 4.4          3.2         1.3          0.2         setosa
44 5.0          3.5         1.6          0.6         setosa
45 5.1          3.8         1.9          0.4         setosa
46 4.8          3.0         1.4          0.3         setosa
47 5.1          3.8         1.6          0.2         setosa
48 4.6          3.2         1.4          0.2         setosa
49 5.3          3.7         1.5          0.2         setosa
50 5.0          3.3         1.4          0.2         setosa

In [49]:
m <- matrix(1:20, nrow=4)
m

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    5     9   13   17
[2,] 2    6    10   14   18
[3,] 3    7    11   15   19
[4,] 4    8    12   16   20

In [50]:
m * 2

     [,1] [,2] [,3] [,4] [,5]
[1,] 2    10   18   26   34
[2,] 4    12   20   28   36
[3,] 6    14   22   30   38
[4,] 8    16   24   32   40

In [51]:
b <- t(m)

In [54]:
b

     [,1] [,2] [,3] [,4]
[1,]  1    2    3    4
[2,]  5    6    7    8
[3,]  9   10   11   12
[4,] 13   14   15   16
[5,] 17   18   19   20

In [56]:
m * b

ERROR: Error in m * b: non-conformable arrays

In [58]:
b <- matrix(20:10000, nrow = 4)

Warning message in matrix(20:10000, nrow = 4):
"data length [9981] is not a sub-multiple or multiple of the number of rows [4]"

In [59]:
b

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12] [,13] [,14]
[1,] 20   24   28   32   36   40   44   48   52   56    ⋯     9964  9968  9972
[2,] 21   25   29   33   37   41   45   49   53   57    ⋯     9965  9969  9973
[3,] 22   26   30   34   38   42   46   50   54   58    ⋯     9966  9970  9974
[4,] 23   27   31   35   39   43   47   51   55   59    ⋯     9967  9971  9975
     [,15] [,16] [,17] [,18] [,19] [,20] [,21]
[1,] 9976  9980  9984  9988  9992  9996  10000
[2,] 9977  9981  9985  9989  9993  9997     20
[3,] 9978  9982  9986  9990  9994  9998     21
[4,] 9979  9983  9987  9991  9995  9999     22

In [60]:
a * b

ERROR: Error in eval(expr, envir, enclos): object 'a' not found

In [61]:
m * b

ERROR: Error in m * b: non-conformable arrays

In [62]:
m + m

     [,1] [,2] [,3] [,4] [,5]
[1,] 2    10   18   26   34
[2,] 4    12   20   28   36
[3,] 6    14   22   30   38
[4,] 8    16   24   32   40

In [63]:
b + b

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12] [,13] [,14]
[1,] 40   48   56   64   72   80   88    96  104  112   ⋯     19928 19936 19944
[2,] 42   50   58   66   74   82   90    98  106  114   ⋯     19930 19938 19946
[3,] 44   52   60   68   76   84   92   100  108  116   ⋯     19932 19940 19948
[4,] 46   54   62   70   78   86   94   102  110  118   ⋯     19934 19942 19950
     [,15] [,16] [,17] [,18] [,19] [,20] [,21]
[1,] 19952 19960 19968 19976 19984 19992 20000
[2,] 19954 19962 19970 19978 19986 19994    40
[3,] 19956 19964 19972 19980 19988 19996    42
[4,] 19958 19966 19974 19982 19990 19998    44

In [64]:
m <- m * 10

In [65]:
m

     [,1] [,2] [,3] [,4] [,5]
[1,] 10   50    90  130  170
[2,] 20   60   100  140  180
[3,] 30   70   110  150  190
[4,] 40   80   120  160  200

In [66]:
b <- b * 987

In [67]:
b

     [,1]  [,2]  [,3]  [,4]  [,5]  [,6]  [,7]  [,8]  [,9]  [,10] [,11] [,12]
[1,] 19740 23688 27636 31584 35532 39480 43428 47376 51324 55272 ⋯     9834468
[2,] 20727 24675 28623 32571 36519 40467 44415 48363 52311 56259 ⋯     9835455
[3,] 21714 25662 29610 33558 37506 41454 45402 49350 53298 57246 ⋯     9836442
[4,] 22701 26649 30597 34545 38493 42441 46389 50337 54285 58233 ⋯     9837429
     [,13]   [,14]   [,15]   [,16]   [,17]   [,18]   [,19]   [,20]   [,21]
[1,] 9838416 9842364 9846312 9850260 9854208 9858156 9862104 9866052 9870000
[2,] 9839403 9843351 9847299 9851247 9855195 9859143 9863091 9867039   19740
[3,] 9840390 9844338 9848286 9852234 9856182 9860130 9864078 9868026   20727
[4,] 9841377 9845325 9849273 9853221 9857169 9861117 9865065 9869013   21714

In [68]:
class(iris)

[1] "data.frame"

In [69]:
class(state.x77)

[1] "matrix" "array"

In [70]:
is.matrix(m)

[1] TRUE

In [71]:
is.data.frame(m)

[1] FALSE

In [72]:
class(m)

[1] "matrix" "array"

In [73]:
st <- data.frame(state.x77)
head(st)
class(st)

           Population Income Illiteracy Life.Exp Murder HS.Grad Frost Area
Alabama     3615      3624   2.1        69.05    15.1   41.3     20    50708
Alaska       365      6315   1.5        69.31    11.3   66.7    152   566432
Arizona     2212      4530   1.8        70.55     7.8   58.1     15   113417
Arkansas    2110      3378   1.9        70.66    10.1   39.9     65    51945
California 21198      5114   1.1        71.71    10.3   62.6     20   156361
Colorado    2541      4884   0.7        72.06     6.8   63.9    166   103766

[1] "data.frame"

In [74]:
iris.m <- as.matrix(iris)
head(iris.m)

     Sepal.Length Sepal.Width Petal.Length Petal.Width Species
[1,] 5.1          3.5         1.4          0.2         setosa
[2,] 4.9          3.0         1.4          0.2         setosa
[3,] 4.7          3.2         1.3          0.2         setosa
[4,] 4.6          3.1         1.5          0.2         setosa
[5,] 5.0          3.6         1.4          0.2         setosa
[6,] 5.4          3.9         1.7          0.4         setosa

In [75]:
class(trees)

[1] "data.frame"

In [76]:
trees

   Girth Height Volume
1   8.3  70     10.3
2   8.6  65     10.3
3   8.8  63     10.2
4  10.5  72     16.4
5  10.7  81     18.8
6  10.8  83     19.7
7  11.0  66     15.6
8  11.0  75     18.2
9  11.1  80     22.6
10 11.2  75     19.9
11 11.3  79     24.2
12 11.4  76     21.0
13 11.4  76     21.4
14 11.7  69     21.3
15 12.0  75     19.1
16 12.9  74     22.2
17 12.9  85     33.8
18 13.3  86     27.4
19 13.7  71     25.7
20 13.8  64     24.9
21 14.0  78     34.5
22 14.2  80     31.7
23 14.5  74     36.3
24 16.0  72     38.3
25 16.3  77     42.6
26 17.3  81     55.4
27 17.5  82     55.7
28 17.9  80     58.3
29 18.0  80     51.5
30 18.0  80     51.0
31 20.6  87     77.0

In [77]:
df = trees

In [78]:
head(df)

  Girth Height Volume
1  8.3  70     10.3
2  8.6  65     10.3
3  8.8  63     10.2
4 10.5  72     16.4
5 10.7  81     18.8
6 10.8  83     19.7

In [80]:
df[df['Girth'] > mean(df['Girth']) & df['Height'] > 80 & df['Volume'] > 50, ]

Warning message in mean.default(df["Girth"]):
"argument is not numeric or logical: returning NA"

     Girth Height Volume
NA   NA    NA     NA
NA.1 NA    NA     NA
NA.2 NA    NA     NA

In [84]:
colnames(df)

[1] "Girth"  "Height" "Volume"

In [87]:
mean(c(10, 20))

[1] 15

In [88]:
df['Girth']

   Girth
1   8.3
2   8.6
3   8.8
4  10.5
5  10.7
6  10.8
7  11.0
8  11.0
9  11.1
10 11.2
11 11.3
12 11.4
13 11.4
14 11.7
15 12.0
16 12.9
17 12.9
18 13.3
19 13.7
20 13.8
21 14.0
22 14.2
23 14.5
24 16.0
25 16.3
26 17.3
27 17.5
28 17.9
29 18.0
30 18.0
31 20.6

In [92]:
mean(df['Girth'])

Warning message in mean.default(df["Girth"]):
"argument is not numeric or logical: returning NA"

[1] NA

In [85]:
mean(df['Girth'])

Warning message in mean.default(df["Girth"]):
"argument is not numeric or logical: returning NA"

[1] NA

In [82]:
girth.mean <- df[df['Girth'] > mean(df['Girth']), ]
girth.mean

Warning message in mean.default(df["Girth"]):
"argument is not numeric or logical: returning NA"

      Girth Height Volume
NA    NA    NA     NA
NA.1  NA    NA     NA
NA.2  NA    NA     NA
NA.3  NA    NA     NA
NA.4  NA    NA     NA
NA.5  NA    NA     NA
NA.6  NA    NA     NA
NA.7  NA    NA     NA
NA.8  NA    NA     NA
NA.9  NA    NA     NA
NA.10 NA    NA     NA
NA.11 NA    NA     NA
NA.12 NA    NA     NA
NA.13 NA    NA     NA
NA.14 NA    NA     NA
NA.15 NA    NA     NA
NA.16 NA    NA     NA
NA.17 NA    NA     NA
NA.18 NA    NA     NA
NA.19 NA    NA     NA
NA.20 NA    NA     NA
NA.21 NA    NA     NA
NA.22 NA    NA     NA
NA.23 NA    NA     NA
NA.24 NA    NA     NA
NA.25 NA    NA     NA
NA.26 NA    NA     NA
NA.27 NA    NA     NA
NA.28 NA    NA     NA
NA.29 NA    NA     NA
NA.30 NA    NA     NA