In [1]:
# 1
v1 <- c(92, 43, 55, 28, 19)
v1

[1] 92 43 55 28 19

In [2]:
v1 <- c('T','T','T')
sum(v1)

ERROR: Error in sum(v1): invalid 'type' (character) of argument

In [3]:
v2 <- c(T, F, T)
sum(v2)

[1] 2

In [4]:
a <- c(1, 2)
b <- '3'
c <- c(a, b)
d <- '4'

In [6]:
class(a)
class(b)
class(c)
class(d)

[1] "numeric"

[1] "character"

[1] "character"

[1] "character"

In [7]:
a <- 25:150
condi <- a[a%%3==0 & a < 100]
length(condi)

[1] 25

In [9]:
m <- matrix(c(9, 8, 7, 11, 5, 2, 3, 9), nrow=2)
m

     [,1] [,2] [,3] [,4]
[1,] 9     7   5    3
[2,] 8    11   2    9

In [10]:
rownames(m) <- c('x', 'y')
colnames(m) <- c('a', 'b', 'c', 'd')

In [11]:
m

  a b  c d
x 9  7 5 3
y 8 11 2 9

In [12]:
dim(mtcars)

[1] 32 11

In [13]:
n <- 12
if(n%%2 == 0){
    type <- 'odd'
}else {
    type <- 'even'
}
type

[1] "odd"

In [14]:
ifelse(n < 5, -n, n)

[1] 12

In [15]:
weight <- c(69, 50, 55, 71, 89, 64, 59, 70, 71, 80)
which.max(weight)

[1] 5

In [16]:
which.min(weight)

[1] 2

In [17]:
which(weight >= 61 & weight <= 69)

[1] 1 6

In [18]:
d <- 100:200

In [19]:
d

  [1] 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117
 [19] 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135
 [37] 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153
 [55] 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171
 [73] 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189
 [91] 190 191 192 193 194 195 196 197 198 199 200

In [20]:
d[91:100]

 [1] 190 191 192 193 194 195 196 197 198 199

In [21]:
d[d%%3 == 0]

 [1] 102 105 108 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156
[20] 159 162 165 168 171 174 177 180 183 186 189 192 195 198

In [22]:
d.20 <- d[1:20]

In [23]:
d.20[-5]

 [1] 100 101 102 103 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119

In [24]:
colSums(USArrests)

  Murder  Assault UrbanPop     Rape
   389.4   8538.0   3277.0   1061.6

In [25]:
colMeans(USArrests)

  Murder  Assault UrbanPop     Rape
   7.788  170.760   65.540   21.232

In [27]:
blood <- c('A', 'O', 'AB', 'B', 'B')
rh <- c('+', '+', '-', '+', '+')
age <- c(21, 30, 43, 17, 26)
m <- data.frame(blood, rh, age)

In [28]:
m

  blood rh age
1 A     +  21
2 O     +  30
3 AB    -  43
4 B     +  17
5 B     +  26

In [29]:
colnames(m)

[1] "blood" "rh"    "age"

In [31]:
m[m['blood'] != 'B', ]

  blood rh age
1 A     +  21
2 O     +  30
3 AB    -  43