In [1]:
d1 <- 1:50
d2 <- 51:100

In [2]:
d1

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [3]:
d2

 [1]  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69
[20]  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88
[39]  89  90  91  92  93  94  95  96  97  98  99 100

In [5]:
sum(d1)

[1] 1275

In [6]:
sum(d2)

[1] 3775

In [7]:
max(d2)

[1] 100

In [8]:
min(d2)

[1] 51

In [9]:
mean.d1 <- mean(d1)
mean.d2 <- mean(d2)

In [10]:
mean.d2 - mean.d1

[1] 50

In [11]:
sort(d1, T)

 [1] 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26
[26] 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1

In [15]:
d.3 <- c(d2[1:10], d2[1:10])
d.3

 [1] 51 52 53 54 55 56 57 58 59 60 51 52 53 54 55 56 57 58 59 60

In [16]:
length(d.3)

[1] 20

In [18]:
v1 <- 51:90
v1

 [1] 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75
[26] 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90

In [19]:
v1[v1 < 60]

[1] 51 52 53 54 55 56 57 58 59

In [20]:
length(v1[v1 < 70])

[1] 19

In [21]:
v1[v1 < 70]

 [1] 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69

In [22]:
sum(v1[v1 > 65])

[1] 1950

In [24]:
v1[v1 > 60 & v1 < 73]

 [1] 61 62 63 64 65 66 67 68 69 70 71 72

In [25]:
v1[v1 < 65 | v1 > 80]

 [1] 51 52 53 54 55 56 57 58 59 60 61 62 63 64 81 82 83 84 85 86 87 88 89 90

In [26]:
v1[v1%%7 == 0]

[1] 56 63 70 77 84

In [27]:
v1[v1%%7==0] <- 0
# 7의 배수의 값을 0으로 설정하기

In [28]:
v1

 [1] 51 52 53 54 55  0 57 58 59 60 61 62  0 64 65 66 67 68 69  0 71 72 73 74 75
[26] 76  0 78 79 80 81 82 83  0 85 86 87 88 89 90

In [29]:
v1[v1%%7==3]

[1] 52 59 66 73 80 87

In [30]:
sum(v1[v1%%2==0])

[1] 1210

In [31]:
v1[v1%%2==1 | v1 > 80]

 [1] 51 53 55 57 59 61 65 67 69 71 73 75 79 81 82 83 85 86 87 88 89 90

In [32]:
v1[v1%%3 == 0 | v1%%5==0]

 [1] 51 54 55  0 57 60  0 65 66 69  0 72 75  0 78 80 81  0 85 87 90

In [35]:
v1[v1%%2==0] <- v1[v1%%2==0] * 2

In [36]:
v1

 [1]  51 104  53 108  55   0  57 116  59 120  61 124   0 128  65 132  67 136  69
[20]   0  71 144  73 148  75 152   0 156  79 160  81 164  83   0  85 172  87 176
[39]  89 180

In [37]:
v1[-v1[v1%%7==0]]

numeric(0)

In [39]:
v2 <- 51:90
v2 <- v2[v2%%7 != 0]
v2

 [1] 51 52 53 54 55 57 58 59 60 61 62 64 65 66 67 68 69 71 72 73 74 75 76 78 79
[26] 80 81 82 83 85 86 87 88 89 90

In [42]:
v3[v3%%7 == 0]

[1] 56 63 70 77 84

In [47]:
v3 <- 51:90
v3 <- v3[-v3[v3%%7==0]]

In [48]:
v3

 [1] 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75
[26] 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90

In [38]:
v1

 [1]  51 104  53 108  55   0  57 116  59 120  61 124   0 128  65 132  67 136  69
[20]   0  71 144  73 148  75 152   0 156  79 160  81 164  83   0  85 172  87 176
[39]  89 180

In [50]:
v1 <- 51:90
v1 <- v1[v1 %% 7 != 0]
v1
# 가끔 0이 아닌 것도 포함될 수 있으니, != 0 조건을 주고 데이터 처리

 [1] 51 52 53 54 55 57 58 59 60 61 62 64 65 66 67 68 69 71 72 73 74 75 76 78 79
[26] 80 81 82 83 85 86 87 88 89 90

In [58]:
mt <- matrix(c(10, 40, 60, 20, 21, 60, 70, 30), nrow=4, ncol=2)
mt

     [,1] [,2]
[1,] 10   21
[2,] 40   60
[3,] 60   70
[4,] 20   30

In [61]:
m <- c(10, 40, 60, 20)
f <- c(21, 60, 70, 30)
m <- data.frame(m, f)
score = m

In [62]:
colnames(score) <- c("male","Female")
score

  male Female
1 10   21
2 40   60
3 60   70
4 20   30

In [64]:
score[2,]

  male Female
2 40   60

In [65]:
score[3, 2]

[1] 70

In [66]:
st <- data.frame(state.x77)
st

               Population Income Illiteracy Life.Exp Murder HS.Grad Frost
Alabama         3615      3624   2.1        69.05    15.1   41.3     20
Alaska           365      6315   1.5        69.31    11.3   66.7    152
Arizona         2212      4530   1.8        70.55     7.8   58.1     15
Arkansas        2110      3378   1.9        70.66    10.1   39.9     65
California     21198      5114   1.1        71.71    10.3   62.6     20
Colorado        2541      4884   0.7        72.06     6.8   63.9    166
Connecticut     3100      5348   1.1        72.48     3.1   56.0    139
Delaware         579      4809   0.9        70.06     6.2   54.6    103
Florida         8277      4815   1.3        70.66    10.7   52.6     11
Georgia         4931      4091   2.0        68.54    13.9   40.6     60
Hawaii           868      4963   1.9        73.60     6.2   61.9      0
Idaho            813      4119   0.6        71.87     5.3   59.5    126
Illinois       11197      5107   0.9        70.14    10.3   52.6    127
Indiana         5313      4458   0.7        70.88     7.1   52.9    122
Iowa            2861      4628   0.5        72.56     2.3   59.0    140
Kansas          2280      4669   0.6        72.58     4.5   59.9    114
Kentucky        3387      3712   1.6        70.10    10.6   38.5     95
Louisiana       3806      3545   2.8        68.76    13.2   42.2     12
Maine           1058      3694   0.7        70.39     2.7   54.7    161
Maryland        4122      5299   0.9        70.22     8.5   52.3    101
Massachusetts   5814      4755   1.1        71.83     3.3   58.5    103
Michigan        9111      4751   0.9        70.63    11.1   52.8    125
Minnesota       3921      4675   0.6        72.96     2.3   57.6    160
Mississippi     2341      3098   2.4        68.09    12.5   41.0     50
Missouri        4767      4254   0.8        70.69     9.3   48.8    108
Montana          746      4347   0.6        70.56     5.0   59.2    155
Nebraska        1544      4508   0.6        72.60     2.9   59.3    139
Nevada           590      5149   0.5        69.03    11.5   65.2    188
New Hampshire    812      4281   0.7        71.23     3.3   57.6    174
New Jersey      7333      5237   1.1        70.93     5.2   52.5    115
New Mexico      1144      3601   2.2        70.32     9.7   55.2    120
New York       18076      4903   1.4        70.55    10.9   52.7     82
North Carolina  5441      3875   1.8        69.21    11.1   38.5     80
North Dakota     637      5087   0.8        72.78     1.4   50.3    186
Ohio           10735      4561   0.8        70.82     7.4   53.2    124
Oklahoma        2715      3983   1.1        71.42     6.4   51.6     82
Oregon          2284      4660   0.6        72.13     4.2   60.0     44
Pennsylvania   11860      4449   1.0        70.43     6.1   50.2    126
Rhode Island     931      4558   1.3        71.90     2.4   46.4    127
South Carolina  2816      3635   2.3        67.96    11.6   37.8     65
South Dakota     681      4167   0.5        72.08     1.7   53.3    172
Tennessee       4173      3821   1.7        70.11    11.0   41.8     70
Texas          12237      4188   2.2        70.90    12.2   47.4     35
Utah            1203      4022   0.6        72.90     4.5   67.3    137
Vermont          472      3907   0.6        71.64     5.5   57.1    168
Virginia        4981      4701   1.4        70.08     9.5   47.8     85
Washington      3559      4864   0.6        71.72     4.3   63.5     32
West Virginia   1799      3617   1.4        69.48     6.7   41.6    100
Wisconsin       4589      4468   0.7        72.48     3.0   54.5    149
Wyoming          376      4566   0.6        70.29     6.9   62.9    173
               Area
Alabama         50708
Alaska         566432
Arizona        113417
Arkansas        51945
California     156361
Colorado       103766
Connecticut      4862
Delaware         1982
Florida         54090
Georgia         58073
Hawaii           6425
Idaho           82677
Illinois        55748
Indiana         36097
Iowa            55941
Kansas          81787
Kentucky        39650
Louisiana       44930
Maine           30920
Maryland         9891
Massachusetts    7826
Michigan        56817
Minnesota       79289
Mississippi     47296
Missouri        68995
Montana        145587
Nebraska        76483
Nevada         109889
New Hampshire    9027
New Jersey       7521
New Mexico     121412
New York        47831
North Carolina  48798
North Dakota    69273
Ohio            40975
Oklahoma        68782
Oregon          96184
Pennsylvania    44966
Rhode Island     1049
South Carolina  30225
South Dakota    75955
Tennessee       41328
Texas          262134
Utah            82096
Vermont          9267
Virginia        39780
Washington      66570
West Virginia   24070
Wisconsin       54464
Wyoming         97203

In [67]:
colnames(st)

[1] "Population" "Income"     "Illiteracy" "Life.Exp"   "Murder"
[6] "HS.Grad"    "Frost"      "Area"

In [68]:
rownames(st)

 [1] "Alabama"        "Alaska"         "Arizona"        "Arkansas"
 [5] "California"     "Colorado"       "Connecticut"    "Delaware"
 [9] "Florida"        "Georgia"        "Hawaii"         "Idaho"
[13] "Illinois"       "Indiana"        "Iowa"           "Kansas"
[17] "Kentucky"       "Louisiana"      "Maine"          "Maryland"
[21] "Massachusetts"  "Michigan"       "Minnesota"      "Mississippi"
[25] "Missouri"       "Montana"        "Nebraska"       "Nevada"
[29] "New Hampshire"  "New Jersey"     "New Mexico"     "New York"
[33] "North Carolina" "North Dakota"   "Ohio"           "Oklahoma"
[37] "Oregon"         "Pennsylvania"   "Rhode Island"   "South Carolina"
[41] "South Dakota"   "Tennessee"      "Texas"          "Utah"
[45] "Vermont"        "Virginia"       "Washington"     "West Virginia"
[49] "Wisconsin"      "Wyoming"

In [69]:
dim(st)

[1] 50  8

In [70]:
str(st)

'data.frame':	50 obs. of  8 variables:
 $ Population: num  3615 365 2212 2110 21198 ...
 $ Income    : num  3624 6315 4530 3378 5114 ...
 $ Illiteracy: num  2.1 1.5 1.8 1.9 1.1 0.7 1.1 0.9 1.3 2 ...
 $ Life.Exp  : num  69 69.3 70.5 70.7 71.7 ...
 $ Murder    : num  15.1 11.3 7.8 10.1 10.3 6.8 3.1 6.2 10.7 13.9 ...
 $ HS.Grad   : num  41.3 66.7 58.1 39.9 62.6 63.9 56 54.6 52.6 40.6 ...
 $ Frost     : num  20 152 15 65 20 166 139 103 11 60 ...
 $ Area      : num  50708 566432 113417 51945 156361 ...

In [83]:
rowMeans(st)

       Alabama         Alaska        Arizona       Arkansas     California
      7261.819      71676.601      15039.031       7202.570      22854.839
      Colorado    Connecticut       Delaware        Florida        Georgia
     13937.558       1697.710        950.595       8416.032       8410.005
        Hawaii          Idaho       Illinois        Indiana           Iowa
      1549.950      10984.034       9039.118       5765.198       7963.045
        Kansas       Kentucky      Louisiana          Maine       Maryland
     11123.448       5870.600       6552.495       4495.186       2443.115
 Massachusetts       Michigan      Minnesota    Mississippi       Missouri
      2329.091       8867.429      11022.308       6613.624       9781.699
       Montana       Nebraska         Nevada  New Hampshire     New Jersey
     18871.295      10351.175      14495.279       1803.354       2541.966
    New Mexico       New York North Carolina   North Dakota           Ohio
     15801.802       8878.444       7289.326       9413.535       7065.903
      Oklahoma         Oregon   Pennsylvania   Rhode Island South Carolina
      9461.565      12913.616       7691.091        848.375       4607.583
  South Dakota      Tennessee          Texas           Utah        Vermont
     10137.823       6189.576      34840.838      10950.413       1743.605
      Virginia     Washington  West Virginia      Wisconsin        Wyoming
      6209.472       9395.640       3713.148       7975.085      12807.336

In [74]:
apply(st, 1, mean)

       Alabama         Alaska        Arizona       Arkansas     California
      7261.819      71676.601      15039.031       7202.570      22854.839
      Colorado    Connecticut       Delaware        Florida        Georgia
     13937.558       1697.710        950.595       8416.032       8410.005
        Hawaii          Idaho       Illinois        Indiana           Iowa
      1549.950      10984.034       9039.118       5765.198       7963.045
        Kansas       Kentucky      Louisiana          Maine       Maryland
     11123.448       5870.600       6552.495       4495.186       2443.115
 Massachusetts       Michigan      Minnesota    Mississippi       Missouri
      2329.091       8867.429      11022.308       6613.624       9781.699
       Montana       Nebraska         Nevada  New Hampshire     New Jersey
     18871.295      10351.175      14495.279       1803.354       2541.966
    New Mexico       New York North Carolina   North Dakota           Ohio
     15801.802       8878.444       7289.326       9413.535       7065.903
      Oklahoma         Oregon   Pennsylvania   Rhode Island South Carolina
      9461.565      12913.616       7691.091        848.375       4607.583
  South Dakota      Tennessee          Texas           Utah        Vermont
     10137.823       6189.576      34840.838      10950.413       1743.605
      Virginia     Washington  West Virginia      Wisconsin        Wyoming
      6209.472       9395.640       3713.148       7975.085      12807.336

In [85]:
colMeans(st)

Population     Income Illiteracy   Life.Exp     Murder    HS.Grad      Frost
 4246.4200  4435.8000     1.1700    70.8786     7.3780    53.1080   104.4600
      Area
70735.8800

In [75]:
apply(st, 2, mean)

Population     Income Illiteracy   Life.Exp     Murder    HS.Grad      Frost
 4246.4200  4435.8000     1.1700    70.8786     7.3780    53.1080   104.4600
      Area
70735.8800

In [77]:
colnames(st)

[1] "Population" "Income"     "Illiteracy" "Life.Exp"   "Murder"
[6] "HS.Grad"    "Frost"      "Area"

In [78]:
rownames(st)

 [1] "Alabama"        "Alaska"         "Arizona"        "Arkansas"
 [5] "California"     "Colorado"       "Connecticut"    "Delaware"
 [9] "Florida"        "Georgia"        "Hawaii"         "Idaho"
[13] "Illinois"       "Indiana"        "Iowa"           "Kansas"
[17] "Kentucky"       "Louisiana"      "Maine"          "Maryland"
[21] "Massachusetts"  "Michigan"       "Minnesota"      "Mississippi"
[25] "Missouri"       "Montana"        "Nebraska"       "Nevada"
[29] "New Hampshire"  "New Jersey"     "New Mexico"     "New York"
[33] "North Carolina" "North Dakota"   "Ohio"           "Oklahoma"
[37] "Oregon"         "Pennsylvania"   "Rhode Island"   "South Carolina"
[41] "South Dakota"   "Tennessee"      "Texas"          "Utah"
[45] "Vermont"        "Virginia"       "Washington"     "West Virginia"
[49] "Wisconsin"      "Wyoming"

In [79]:
st['Florida',]

        Population Income Illiteracy Life.Exp Murder HS.Grad Frost Area
Florida 8277       4815   1.3        70.66    10.7   52.6    11    54090

In [80]:
st['Income']

               Income
Alabama        3624
Alaska         6315
Arizona        4530
Arkansas       3378
California     5114
Colorado       4884
Connecticut    5348
Delaware       4809
Florida        4815
Georgia        4091
Hawaii         4963
Idaho          4119
Illinois       5107
Indiana        4458
Iowa           4628
Kansas         4669
Kentucky       3712
Louisiana      3545
Maine          3694
Maryland       5299
Massachusetts  4755
Michigan       4751
Minnesota      4675
Mississippi    3098
Missouri       4254
Montana        4347
Nebraska       4508
Nevada         5149
New Hampshire  4281
New Jersey     5237
New Mexico     3601
New York       4903
North Carolina 3875
North Dakota   5087
Ohio           4561
Oklahoma       3983
Oregon         4660
Pennsylvania   4449
Rhode Island   4558
South Carolina 3635
South Dakota   4167
Tennessee      3821
Texas          4188
Utah           4022
Vermont        3907
Virginia       4701
Washington     4864
West Virginia  3617
Wisconsin      4468
Wyoming        4566

In [87]:
st['Texas','Area']

[1] 262134

In [88]:
st['Ohio', c('Population', 'Income')]

     Population Income
Ohio 10735      4561

In [90]:
st[st['Population'] >= 5000,]

               Population Income Illiteracy Life.Exp Murder HS.Grad Frost
California     21198      5114   1.1        71.71    10.3   62.6     20
Florida         8277      4815   1.3        70.66    10.7   52.6     11
Illinois       11197      5107   0.9        70.14    10.3   52.6    127
Indiana         5313      4458   0.7        70.88     7.1   52.9    122
Massachusetts   5814      4755   1.1        71.83     3.3   58.5    103
Michigan        9111      4751   0.9        70.63    11.1   52.8    125
New Jersey      7333      5237   1.1        70.93     5.2   52.5    115
New York       18076      4903   1.4        70.55    10.9   52.7     82
North Carolina  5441      3875   1.8        69.21    11.1   38.5     80
Ohio           10735      4561   0.8        70.82     7.4   53.2    124
Pennsylvania   11860      4449   1.0        70.43     6.1   50.2    126
Texas          12237      4188   2.2        70.90    12.2   47.4     35
               Area
California     156361
Florida         54090
Illinois        55748
Indiana         36097
Massachusetts    7826
Michigan        56817
New Jersey       7521
New York        47831
North Carolina  48798
Ohio            40975
Pennsylvania    44966
Texas          262134

In [92]:
subset(st, st['Population'] >= 5000)

               Population Income Illiteracy Life.Exp Murder HS.Grad Frost
California     21198      5114   1.1        71.71    10.3   62.6     20
Florida         8277      4815   1.3        70.66    10.7   52.6     11
Illinois       11197      5107   0.9        70.14    10.3   52.6    127
Indiana         5313      4458   0.7        70.88     7.1   52.9    122
Massachusetts   5814      4755   1.1        71.83     3.3   58.5    103
Michigan        9111      4751   0.9        70.63    11.1   52.8    125
New Jersey      7333      5237   1.1        70.93     5.2   52.5    115
New York       18076      4903   1.4        70.55    10.9   52.7     82
North Carolina  5441      3875   1.8        69.21    11.1   38.5     80
Ohio           10735      4561   0.8        70.82     7.4   53.2    124
Pennsylvania   11860      4449   1.0        70.43     6.1   50.2    126
Texas          12237      4188   2.2        70.90    12.2   47.4     35
               Area
California     156361
Florida         54090
Illinois        55748
Indiana         36097
Massachusetts    7826
Michigan        56817
New Jersey       7521
New York        47831
North Carolina  48798
Ohio            40975
Pennsylvania    44966
Texas          262134

In [93]:
subset(st, st['Income'] >= 4500)[c('Population','Income','Area')]

              Population Income Area
Alaska          365      6315   566432
Arizona        2212      4530   113417
California    21198      5114   156361
Colorado       2541      4884   103766
Connecticut    3100      5348     4862
Delaware        579      4809     1982
Florida        8277      4815    54090
Hawaii          868      4963     6425
Illinois      11197      5107    55748
Iowa           2861      4628    55941
Kansas         2280      4669    81787
Maryland       4122      5299     9891
Massachusetts  5814      4755     7826
Michigan       9111      4751    56817
Minnesota      3921      4675    79289
Nebraska       1544      4508    76483
Nevada          590      5149   109889
New Jersey     7333      5237     7521
New York      18076      4903    47831
North Dakota    637      5087    69273
Ohio          10735      4561    40975
Oregon         2284      4660    96184
Rhode Island    931      4558     1049
Virginia       4981      4701    39780
Washington     3559      4864    66570
Wyoming         376      4566    97203

In [98]:
length(st[st['Income'] >= 4500])

[1] 208

In [103]:
nrow(st[st['Income'] >= 4500, ])

[1] 26

In [101]:
nrow(subset(st, st['Income'] >= 4500))

[1] 26

In [108]:
nrow(ss)

[1] 26

In [107]:
ncol(ss)

[1] 8

In [106]:
ss <- subset(st, st['Income'] >= 4500)
ss

              Population Income Illiteracy Life.Exp Murder HS.Grad Frost Area
Alaska          365      6315   1.5        69.31    11.3   66.7    152   566432
Arizona        2212      4530   1.8        70.55     7.8   58.1     15   113417
California    21198      5114   1.1        71.71    10.3   62.6     20   156361
Colorado       2541      4884   0.7        72.06     6.8   63.9    166   103766
Connecticut    3100      5348   1.1        72.48     3.1   56.0    139     4862
Delaware        579      4809   0.9        70.06     6.2   54.6    103     1982
Florida        8277      4815   1.3        70.66    10.7   52.6     11    54090
Hawaii          868      4963   1.9        73.60     6.2   61.9      0     6425
Illinois      11197      5107   0.9        70.14    10.3   52.6    127    55748
Iowa           2861      4628   0.5        72.56     2.3   59.0    140    55941
Kansas         2280      4669   0.6        72.58     4.5   59.9    114    81787
Maryland       4122      5299   0.9        70.22     8.5   52.3    101     9891
Massachusetts  5814      4755   1.1        71.83     3.3   58.5    103     7826
Michigan       9111      4751   0.9        70.63    11.1   52.8    125    56817
Minnesota      3921      4675   0.6        72.96     2.3   57.6    160    79289
Nebraska       1544      4508   0.6        72.60     2.9   59.3    139    76483
Nevada          590      5149   0.5        69.03    11.5   65.2    188   109889
New Jersey     7333      5237   1.1        70.93     5.2   52.5    115     7521
New York      18076      4903   1.4        70.55    10.9   52.7     82    47831
North Dakota    637      5087   0.8        72.78     1.4   50.3    186    69273
Ohio          10735      4561   0.8        70.82     7.4   53.2    124    40975
Oregon         2284      4660   0.6        72.13     4.2   60.0     44    96184
Rhode Island    931      4558   1.3        71.90     2.4   46.4    127     1049
Virginia       4981      4701   1.4        70.08     9.5   47.8     85    39780
Washington     3559      4864   0.6        71.72     4.3   63.5     32    66570
Wyoming         376      4566   0.6        70.29     6.9   62.9    173    97203

In [104]:
st[st['Income'] >= 4500]

  [1]    365.00   2212.00  21198.00   2541.00   3100.00    579.00   8277.00
  [8]    868.00  11197.00   2861.00   2280.00   4122.00   5814.00   9111.00
 [15]   3921.00   1544.00    590.00   7333.00  18076.00    637.00  10735.00
 [22]   2284.00    931.00   4981.00   3559.00    376.00   6315.00   4530.00
 [29]   5114.00   4884.00   5348.00   4809.00   4815.00   4963.00   5107.00
 [36]   4628.00   4669.00   5299.00   4755.00   4751.00   4675.00   4508.00
 [43]   5149.00   5237.00   4903.00   5087.00   4561.00   4660.00   4558.00
 [50]   4701.00   4864.00   4566.00      1.50      1.80      1.10      0.70
 [57]      1.10      0.90      1.30      1.90      0.90      0.50      0.60
 [64]      0.90      1.10      0.90      0.60      0.60      0.50      1.10
 [71]      1.40      0.80      0.80      0.60      1.30      1.40      0.60
 [78]      0.60     69.31     70.55     71.71     72.06     72.48     70.06
 [85]     70.66     73.60     70.14     72.56     72.58     70.22     71.83
 [92]     70.63     72.96     72.60     69.03     70.93     70.55     72.78
 [99]     70.82     72.13     71.90     70.08     71.72     70.29     11.30
[106]      7.80     10.30      6.80      3.10      6.20     10.70      6.20
[113]     10.30      2.30      4.50      8.50      3.30     11.10      2.30
[120]      2.90     11.50      5.20     10.90      1.40      7.40      4.20
[127]      2.40      9.50      4.30      6.90     66.70     58.10     62.60
[134]     63.90     56.00     54.60     52.60     61.90     52.60     59.00
[141]     59.90     52.30     58.50     52.80     57.60     59.30     65.20
[148]     52.50     52.70     50.30     53.20     60.00     46.40     47.80
[155]     63.50     62.90    152.00     15.00     20.00    166.00    139.00
[162]    103.00     11.00      0.00    127.00    140.00    114.00    101.00
[169]    103.00    125.00    160.00    139.00    188.00    115.00     82.00
[176]    186.00    124.00     44.00    127.00     85.00     32.00    173.00
[183] 566432.00 113417.00 156361.00 103766.00   4862.00   1982.00  54090.00
[190]   6425.00  55748.00  55941.00  81787.00   9891.00   7826.00  56817.00
[197]  79289.00  76483.00 109889.00   7521.00  47831.00  69273.00  40975.00
[204]  96184.00   1049.00  39780.00  66570.00  97203.00

In [109]:
colnames(st)

[1] "Population" "Income"     "Illiteracy" "Life.Exp"   "Murder"
[6] "HS.Grad"    "Frost"      "Area"

In [111]:
st[st['Area'] >= 100000 & st['Frost'] >= 120, ]

           Population Income Illiteracy Life.Exp Murder HS.Grad Frost Area
Alaska      365       6315   1.5        69.31    11.3   66.7    152   566432
Colorado   2541       4884   0.7        72.06     6.8   63.9    166   103766
Montana     746       4347   0.6        70.56     5.0   59.2    155   145587
Nevada      590       5149   0.5        69.03    11.5   65.2    188   109889
New Mexico 1144       3601   2.2        70.32     9.7   55.2    120   121412

In [112]:
subset(st, st['Area'] >= 100000 & st['Frost'] >= 120)

           Population Income Illiteracy Life.Exp Murder HS.Grad Frost Area
Alaska      365       6315   1.5        69.31    11.3   66.7    152   566432
Colorado   2541       4884   0.7        72.06     6.8   63.9    166   103766
Montana     746       4347   0.6        70.56     5.0   59.2    155   145587
Nevada      590       5149   0.5        69.03    11.5   65.2    188   109889
New Mexico 1144       3601   2.2        70.32     9.7   55.2    120   121412

In [115]:
colMeans(st[st['Illiteracy'] >= 2.0, ])

  Population       Income   Illiteracy     Life.Exp       Murder      HS.Grad
 4412.857143  3683.142857     2.285714    69.088571    12.600000    43.642857
       Frost         Area
   51.714286 87825.428571

In [116]:
subset(st, st['Population'] < 2000 & st['Murder'] < 12)

              Population Income Illiteracy Life.Exp Murder HS.Grad Frost Area
Alaska         365       6315   1.5        69.31    11.3   66.7    152   566432
Delaware       579       4809   0.9        70.06     6.2   54.6    103     1982
Hawaii         868       4963   1.9        73.60     6.2   61.9      0     6425
Idaho          813       4119   0.6        71.87     5.3   59.5    126    82677
Maine         1058       3694   0.7        70.39     2.7   54.7    161    30920
Montana        746       4347   0.6        70.56     5.0   59.2    155   145587
Nebraska      1544       4508   0.6        72.60     2.9   59.3    139    76483
Nevada         590       5149   0.5        69.03    11.5   65.2    188   109889
New Hampshire  812       4281   0.7        71.23     3.3   57.6    174     9027
New Mexico    1144       3601   2.2        70.32     9.7   55.2    120   121412
North Dakota   637       5087   0.8        72.78     1.4   50.3    186    69273
Rhode Island   931       4558   1.3        71.90     2.4   46.4    127     1049
South Dakota   681       4167   0.5        72.08     1.7   53.3    172    75955
Utah          1203       4022   0.6        72.90     4.5   67.3    137    82096
Vermont        472       3907   0.6        71.64     5.5   57.1    168     9267
West Virginia 1799       3617   1.4        69.48     6.7   41.6    100    24070
Wyoming        376       4566   0.6        70.29     6.9   62.9    173    97203

In [119]:
colMeans(st[st['Illiteracy'] > 2.0, ])['Income']

  Income
3615.167

In [120]:
colMeans(st[st['Illiteracy'] < 2.0, ])['Income']

  Income
4558.326

In [121]:
colMeans(st[st['Illiteracy'] < 2.0, ])['Income'] - colMeans(st[st['Illiteracy'] > 2.0, ])['Income']

  Income
943.1589

In [122]:
colnames(st)

[1] "Population" "Income"     "Illiteracy" "Life.Exp"   "Murder"
[6] "HS.Grad"    "Frost"      "Area"

In [125]:
st[st['Life.Exp'] == max(st['Life.Exp']), ]

       Population Income Illiteracy Life.Exp Murder HS.Grad Frost Area
Hawaii 868        4963   1.9        73.6     6.2    61.9    0     6425

In [127]:
st['Pennsylvania', 'Income']

[1] 4449

In [131]:
subset(st, st['Income'] >= st['Pennysylvania', 'Income'])

     Population Income Illiteracy Life.Exp Murder HS.Grad Frost Area

In [133]:
pen.income  <- st['Pennysylvania', 'Income']
rownames(subset(st, Income > pen.income))

character(0)

In [130]:
st[st['Income'] >= st['Pennysylvania', 'Income'], ]

      Population Income Illiteracy Life.Exp Murder HS.Grad Frost Area
NA    NA         NA     NA         NA       NA     NA      NA    NA
NA.1  NA         NA     NA         NA       NA     NA      NA    NA
NA.2  NA         NA     NA         NA       NA     NA      NA    NA
NA.3  NA         NA     NA         NA       NA     NA      NA    NA
NA.4  NA         NA     NA         NA       NA     NA      NA    NA
NA.5  NA         NA     NA         NA       NA     NA      NA    NA
NA.6  NA         NA     NA         NA       NA     NA      NA    NA
NA.7  NA         NA     NA         NA       NA     NA      NA    NA
NA.8  NA         NA     NA         NA       NA     NA      NA    NA
NA.9  NA         NA     NA         NA       NA     NA      NA    NA
NA.10 NA         NA     NA         NA       NA     NA      NA    NA
NA.11 NA         NA     NA         NA       NA     NA      NA    NA
NA.12 NA         NA     NA         NA       NA     NA      NA    NA
NA.13 NA         NA     NA         NA       NA     NA      NA    NA
NA.14 NA         NA     NA         NA       NA     NA      NA    NA
NA.15 NA         NA     NA         NA       NA     NA      NA    NA
NA.16 NA         NA     NA         NA       NA     NA      NA    NA
NA.17 NA         NA     NA         NA       NA     NA      NA    NA
NA.18 NA         NA     NA         NA       NA     NA      NA    NA
NA.19 NA         NA     NA         NA       NA     NA      NA    NA
NA.20 NA         NA     NA         NA       NA     NA      NA    NA
NA.21 NA         NA     NA         NA       NA     NA      NA    NA
NA.22 NA         NA     NA         NA       NA     NA      NA    NA
NA.23 NA         NA     NA         NA       NA     NA      NA    NA
NA.24 NA         NA     NA         NA       NA     NA      NA    NA
NA.25 NA         NA     NA         NA       NA     NA      NA    NA
NA.26 NA         NA     NA         NA       NA     NA      NA    NA
NA.27 NA         NA     NA         NA       NA     NA      NA    NA
NA.28 NA         NA     NA         NA       NA     NA      NA    NA
NA.29 NA         NA     NA         NA       NA     NA      NA    NA
NA.30 NA         NA     NA         NA       NA     NA      NA    NA
NA.31 NA         NA     NA         NA       NA     NA      NA    NA
NA.32 NA         NA     NA         NA       NA     NA      NA    NA
NA.33 NA         NA     NA         NA       NA     NA      NA    NA
NA.34 NA         NA     NA         NA       NA     NA      NA    NA
NA.35 NA         NA     NA         NA       NA     NA      NA    NA
NA.36 NA         NA     NA         NA       NA     NA      NA    NA
NA.37 NA         NA     NA         NA       NA     NA      NA    NA
NA.38 NA         NA     NA         NA       NA     NA      NA    NA
NA.39 NA         NA     NA         NA       NA     NA      NA    NA
NA.40 NA         NA     NA         NA       NA     NA      NA    NA
NA.41 NA         NA     NA         NA       NA     NA      NA    NA
NA.42 NA         NA     NA         NA       NA     NA      NA    NA
NA.43 NA         NA     NA         NA       NA     NA      NA    NA
NA.44 NA         NA     NA         NA       NA     NA      NA    NA
NA.45 NA         NA     NA         NA       NA     NA      NA    NA
NA.46 NA         NA     NA         NA       NA     NA      NA    NA
NA.47 NA         NA     NA         NA       NA     NA      NA    NA
NA.48 NA         NA     NA         NA       NA     NA      NA    NA
NA.49 NA         NA     NA         NA       NA     NA      NA    NA

In [134]:
class(mtcars)

[1] "data.frame"

In [135]:
dim(mtcars)

[1] 32 11

In [136]:
mtcars[mtcars['mpg'] == max(mtcars['mpg']), ]

               mpg  cyl disp hp drat wt    qsec vs am gear carb
Toyota Corolla 33.9 4   71.1 65 4.22 1.835 19.9 1  1  4    1

In [139]:
subset(mtcars, mtcars$mpg == max(mtcars['mpg']))

               mpg  cyl disp hp drat wt    qsec vs am gear carb
Toyota Corolla 33.9 4   71.1 65 4.22 1.835 19.9 1  1  4    1

In [140]:
mtcars[mtcars['gear'] == 4 & mtcars['mpg'] == min(mtcars['mpg']), ]

     mpg cyl disp hp drat wt qsec vs am gear carb

In [147]:
df = mtcars
df[df['gear'] == 4 & df['mpg'] == min(df['mpg']), ]

     mpg cyl disp hp drat wt qsec vs am gear carb

In [142]:
min.mpg <- min(mtcars[mtcars$gear == 4,'mpg'])
rownames(mtcars[mtcars$mpg == min.mpg, ])

[1] "Merc 280C"

In [141]:
subset(mtcars, mtcars$gear == 4 & mtcars$mpg == min(mtcars$mpg))

     mpg cyl disp hp drat wt qsec vs am gear carb

In [148]:
subset(mtcars, mtcars$mpg == min(mtcars$mpg) & mtcars$gear == 4)

     mpg cyl disp hp drat wt qsec vs am gear carb

In [152]:
dx <- df[df['gear'] == 4, ]
dx

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280       19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C      17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [156]:
di <- dx[dx['mpg'] ==  min(dx['mpg']), ]
di

          mpg  cyl disp  hp  drat wt   qsec vs am gear carb
Merc 280C 17.8 6   167.6 123 3.92 3.44 18.9 1  0  4    4

In [158]:
df['Honda Civic', c('mpg','gear')]

            mpg  gear
Honda Civic 30.4 4

In [164]:
df[df['Pontiac Firebird', 'mpg'], ]

            mpg  cyl disp hp drat wt    qsec  vs am gear carb
Honda Civic 30.4 4   75.7 52 4.93 1.615 18.52 1  1  4    2

In [167]:
df[['Pontiac Firebird']['mpg']]

ERROR: Error in parse(text = x, srcfile = src): <text>:1:24: unexpected '['
1: df[['Pontiac Firebird'][
                           ^

In [169]:
df['Pontiac Firebird', ]

                 mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Pontiac Firebird 19.2 8   400  175 3.08 3.845 17.05 0  0  3    2

In [168]:
df['Pontiac Firebird', 'mpg']

[1] 19.2

In [171]:
df[df['mpg'] >= df['Pontiac Firebird', 'mpg'], ]

                 mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4        21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag    21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710       22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive   21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Merc 240D        24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230         22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280         19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Fiat 128         32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic      30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla   33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona    21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Pontiac Firebird 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9        27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2    26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa     30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ferrari Dino     19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Volvo 142E       21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [172]:
mean(df['mpg'])

Warning message in mean.default(df["mpg"]):
"argument is not numeric or logical: returning NA"

[1] NA

In [179]:
colMeans(df['mpg'])

     mpg
20.09062

In [180]:
mean(mtcars$mpg)

[1] 20.09062

In [181]:
unique(mtcars$gear)

[1] 4 3 5

In [ ]:
# uniquie() // number of unique - python

In [182]:
unique(df['gear'])

               gear
Mazda RX4      4
Hornet 4 Drive 3
Porsche 914-2  5

In [183]:
class(airquality)

[1] "data.frame"

In [185]:
head(airquality)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [188]:
df = airquality
df[df['Temp'] == max(df['Temp']),c('Month', 'Day')]

    Month Day
120 8     28

In [202]:
colnames(subset)

[1] "Ozone"   "Solar.R" "Wind"    "Temp"    "Month"   "Day"

In [201]:
subset <- df[df['Month'] == 6, ]
subset[subset['Wind'] == max(subset['Wind']), c('Wind')]
# bind // c 타입으로 줘야 함 ( 벡터 )

[1] 20.7

In [207]:
subset <- df[df['Month'] == 7, ]
colMeans(subset)['Temp']

    Temp
83.90323

In [211]:
subset <- df[df['Month'] == 5, ]
colMeans(subset, T)['Ozone']

   Ozone
23.61538

In [221]:
days <- df[df['Ozone'] > 100, ]
days <- na.omit(days)
length(rownames(days))

[1] 7

In [215]:
nrow(subset(df, Ozone > 100))

[1] 7

In [222]:
swiss

             Fertility Agriculture Examination Education Catholic
Courtelary   80.2      17.0        15          12          9.96
Delemont     83.1      45.1         6           9         84.84
Franches-Mnt 92.5      39.7         5           5         93.40
Moutier      85.8      36.5        12           7         33.77
Neuveville   76.9      43.5        17          15          5.16
Porrentruy   76.1      35.3         9           7         90.57
Broye        83.8      70.2        16           7         92.85
Glane        92.4      67.8        14           8         97.16
Gruyere      82.4      53.3        12           7         97.67
Sarine       82.9      45.2        16          13         91.38
Veveyse      87.1      64.5        14           6         98.61
Aigle        64.1      62.0        21          12          8.52
Aubonne      66.9      67.5        14           7          2.27
Avenches     68.9      60.7        19          12          4.43
Cossonay     61.7      69.3        22           5          2.82
Echallens    68.3      72.6        18           2         24.20
Grandson     71.7      34.0        17           8          3.30
Lausanne     55.7      19.4        26          28         12.11
La Vallee    54.3      15.2        31          20          2.15
Lavaux       65.1      73.0        19           9          2.84
Morges       65.5      59.8        22          10          5.23
Moudon       65.0      55.1        14           3          4.52
Nyone        56.6      50.9        22          12         15.14
Orbe         57.4      54.1        20           6          4.20
Oron         72.5      71.2        12           1          2.40
Payerne      74.2      58.1        14           8          5.23
Paysd'enhaut 72.0      63.5         6           3          2.56
Rolle        60.5      60.8        16          10          7.72
Vevey        58.3      26.8        25          19         18.46
Yverdon      65.4      49.5        15           8          6.10
Conthey      75.5      85.9         3           2         99.71
Entremont    69.3      84.9         7           6         99.68
Herens       77.3      89.7         5           2        100.00
Martigwy     70.5      78.2        12           6         98.96
Monthey      79.4      64.9         7           3         98.22
St Maurice   65.0      75.9         9           9         99.06
Sierre       92.2      84.6         3           3         99.46
Sion         79.3      63.1        13          13         96.83
Boudry       70.4      38.4        26          12          5.62
La Chauxdfnd 65.7       7.7        29          11         13.79
Le Locle     72.7      16.7        22          13         11.22
Neuchatel    64.4      17.6        35          32         16.92
Val de Ruz   77.6      37.6        15           7          4.97
ValdeTravers 67.6      18.7        25           7          8.65
V. De Geneve 35.0       1.2        37          53         42.34
Rive Droite  44.7      46.6        16          29         50.43
Rive Gauche  42.8      27.7        22          29         58.33
             Infant.Mortality
Courtelary   22.2
Delemont     22.2
Franches-Mnt 20.2
Moutier      20.3
Neuveville   20.6
Porrentruy   26.6
Broye        23.6
Glane        24.9
Gruyere      21.0
Sarine       24.4
Veveyse      24.5
Aigle        16.5
Aubonne      19.1
Avenches     22.7
Cossonay     18.7
Echallens    21.2
Grandson     20.0
Lausanne     20.2
La Vallee    10.8
Lavaux       20.0
Morges       18.0
Moudon       22.4
Nyone        16.7
Orbe         15.3
Oron         21.0
Payerne      23.8
Paysd'enhaut 18.0
Rolle        16.3
Vevey        20.9
Yverdon      22.5
Conthey      15.1
Entremont    19.8
Herens       18.3
Martigwy     19.4
Monthey      20.2
St Maurice   17.8
Sierre       16.3
Sion         18.1
Boudry       20.3
La Chauxdfnd 20.5
Le Locle     18.9
Neuchatel    23.0
Val de Ruz   20.0
ValdeTravers 19.5
V. De Geneve 18.0
Rive Droite  18.2
Rive Gauche  19.3

In [223]:
colnames(swiss)

[1] "Fertility"        "Agriculture"      "Examination"      "Education"
[5] "Catholic"         "Infant.Mortality"

In [227]:
rownames(swiss[swiss['Agriculture'] == max(swiss['Agriculture']), ])

[1] "Herens"

In [235]:
tmp <- swiss[order(swiss$Agriculture, descreasing=T), ]
tmp

ERROR: Error in order(swiss$Agriculture, descreasing = T): argument lengths differ

In [245]:
sum <- 0
asc <- 0
for(i in 1:100){
    if(i%% 3== 0){
        sum <- sum + 1
        asc <- asc + 1
    }
}
sum
asc

[1] 33

[1] 33

In [246]:
for(i in 101:200){
    if(i%%3 == 0 & i%%4 == 0){
        cat("3과 4의 공배수 : ", i, '\n')
    }
}

3과 4의 공배수 :  108
3과 4의 공배수 :  120
3과 4의 공배수 :  132
3과 4의 공배수 :  144
3과 4의 공배수 :  156
3과 4의 공배수 :  168
3과 4의 공배수 :  180
3과 4의 공배수 :  192

In [247]:
for(i in 1:24){
    if(i %% 24 == 0){
        print(i)
    }
}

[1] 24

In [250]:
ax <- 1
for(i in 1:10){
    ax <- ax * i
}
ax

[1] 3628800

In [1]:
for(i in 1:9){
    cat("구구단 9 * ",i, '=', 9 * i, '\n')
}

구구단 9 *  1 = 9
구구단 9 *  2 = 18
구구단 9 *  3 = 27
구구단 9 *  4 = 36
구구단 9 *  5 = 45
구구단 9 *  6 = 54
구구단 9 *  7 = 63
구구단 9 *  8 = 72
구구단 9 *  9 = 81

In [6]:
i <- 1
while(i < 10){
    cat("8 x ", i,'=', 8 * i, '\n')
    i = i + 1
}

8 x  1 = 8
8 x  2 = 16
8 x  3 = 24
8 x  4 = 32
8 x  5 = 40
8 x  6 = 48
8 x  7 = 56
8 x  8 = 64
8 x  9 = 72

In [11]:
for(i in 1:100){
    if(i%%3 == 0){
        print('*')
    }else{
        print(i)
    }
}

[1] 1
[1] 2
[1] "*"
[1] 4
[1] 5
[1] "*"
[1] 7
[1] 8
[1] "*"
[1] 10
[1] 11
[1] "*"
[1] 13
[1] 14
[1] "*"
[1] 16
[1] 17
[1] "*"
[1] 19
[1] 20
[1] "*"
[1] 22
[1] 23
[1] "*"
[1] 25
[1] 26
[1] "*"
[1] 28
[1] 29
[1] "*"
[1] 31
[1] 32
[1] "*"
[1] 34
[1] 35
[1] "*"
[1] 37
[1] 38
[1] "*"
[1] 40
[1] 41
[1] "*"
[1] 43
[1] 44
[1] "*"
[1] 46
[1] 47
[1] "*"
[1] 49
[1] 50
[1] "*"
[1] 52
[1] 53
[1] "*"
[1] 55
[1] 56
[1] "*"
[1] 58
[1] 59
[1] "*"
[1] 61
[1] 62
[1] "*"
[1] 64
[1] 65
[1] "*"
[1] 67
[1] 68
[1] "*"
[1] 70
[1] 71
[1] "*"
[1] 73
[1] 74
[1] "*"
[1] 76
[1] 77
[1] "*"
[1] 79
[1] 80
[1] "*"
[1] 82
[1] 83
[1] "*"
[1] 85
[1] 86
[1] "*"
[1] 88
[1] 89
[1] "*"
[1] 91
[1] 92
[1] "*"
[1] 94
[1] 95
[1] "*"
[1] 97
[1] 98
[1] "*"
[1] 100

In [14]:
for(i in 1:100){
    res <- ifelse(i%%3==0, "*", i)
    cat(res, '')
}

1 2 * 4 5 * 7 8 * 10 11 * 13 14 * 16 17 * 19 20 * 22 23 * 25 26 * 28 29 * 31 32 * 34 35 * 37 38 * 40 41 * 43 44 * 46 47 * 49 50 * 52 53 * 55 56 * 58 59 * 61 62 * 64 65 * 67 68 * 70 71 * 73 74 * 76 77 * 79 80 * 82 83 * 85 86 * 88 89 * 91 92 * 94 95 * 97 98 * 100

In [4]:
prime <- c()
for(i in 2:1000){
    for(j in 2:i){
        if(i%%j == 0){
            break
        }
    }
    if(i==j){
        prime <- c(prime, i)
    }
}
prime

  [1]   2   3   5   7  11  13  17  19  23  29  31  37  41  43  47  53  59  61
 [19]  67  71  73  79  83  89  97 101 103 107 109 113 127 131 137 139 149 151
 [37] 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251
 [55] 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359
 [73] 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463
 [91] 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593
[109] 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701
[127] 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827
[145] 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953
[163] 967 971 977 983 991 997

In [9]:
fibo <- c(0,1)
for(i in 3:40){
    fibos <- fibo[i-1] + fibo[i - 2]
    fibo <- c(fibo, fibos)
}
fibo

 [1]        0        1        1        2        3        5        8       13
 [9]       21       34       55       89      144      233      377      610
[17]      987     1597     2584     4181     6765    10946    17711    28657
[25]    46368    75025   121393   196418   317811   514229   832040  1346269
[33]  2178309  3524578  5702887  9227465 14930352 24157817 39088169 63245986

In [10]:
colnames(iris)

[1] "Sepal.Length" "Sepal.Width"  "Petal.Length" "Petal.Width"  "Species"

In [11]:
iris

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         setosa
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
5   5.0          3.6         1.4          0.2         setosa
6   5.4          3.9         1.7          0.4         setosa
7   4.6          3.4         1.4          0.3         setosa
8   5.0          3.4         1.5          0.2         setosa
9   4.4          2.9         1.4          0.2         setosa
10  4.9          3.1         1.5          0.1         setosa
11  5.4          3.7         1.5          0.2         setosa
12  4.8          3.4         1.6          0.2         setosa
13  4.8          3.0         1.4          0.1         setosa
14  4.3          3.0         1.1          0.1         setosa
15  5.8          4.0         1.2          0.2         setosa
16  5.7          4.4         1.5          0.4         setosa
17  5.4          3.9         1.3          0.4         setosa
18  5.1          3.5         1.4          0.3         setosa
19  5.7          3.8         1.7          0.3         setosa
20  5.1          3.8         1.5          0.3         setosa
21  5.4          3.4         1.7          0.2         setosa
22  5.1          3.7         1.5          0.4         setosa
23  4.6          3.6         1.0          0.2         setosa
24  5.1          3.3         1.7          0.5         setosa
25  4.8          3.4         1.9          0.2         setosa
26  5.0          3.0         1.6          0.2         setosa
27  5.0          3.4         1.6          0.4         setosa
28  5.2          3.5         1.5          0.2         setosa
29  5.2          3.4         1.4          0.2         setosa
30  4.7          3.2         1.6          0.2         setosa
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
121 6.9          3.2         5.7          2.3         virginica
122 5.6          2.8         4.9          2.0         virginica
123 7.7          2.8         6.7          2.0         virginica
124 6.3          2.7         4.9          1.8         virginica
125 6.7          3.3         5.7          2.1         virginica
126 7.2          3.2         6.0          1.8         virginica
127 6.2          2.8         4.8          1.8         virginica
128 6.1          3.0         4.9          1.8         virginica
129 6.4          2.8         5.6          2.1         virginica
130 7.2          3.0         5.8          1.6         virginica
131 7.4          2.8         6.1          1.9         virginica
132 7.9          3.8         6.4          2.0         virginica
133 6.4          2.8         5.6          2.2         virginica
134 6.3          2.8         5.1          1.5         virginica
135 6.1          2.6         5.6          1.4         virginica
136 7.7          3.0         6.1          2.3         virginica
137 6.3          3.4         5.6          2.4         virginica
138 6.4          3.1         5.5          1.8         virginica
139 6.0          3.0         4.8          1.8         virginica
140 6.9          3.1         5.4          2.1         virginica
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [15]:
apply(iris[,-5], 1, sum)

  [1] 10.2  9.5  9.4  9.4 10.2 11.4  9.7 10.1  8.9  9.6 10.8 10.0  9.3  8.5 11.2
 [16] 12.0 11.0 10.3 11.5 10.7 10.7 10.7  9.4 10.6 10.3  9.8 10.4 10.4 10.2  9.7
 [31]  9.7 10.7 10.9 11.3  9.7  9.6 10.5 10.0  8.9 10.2 10.1  8.4  9.1 10.7 11.2
 [46]  9.5 10.7  9.4 10.7  9.9 16.3 15.6 16.4 13.1 15.4 14.3 15.9 11.6 15.4 13.2
 [61] 11.5 14.6 13.2 15.1 13.4 15.6 14.6 13.6 14.4 13.1 15.7 14.2 15.2 14.8 14.9
 [76] 15.4 15.8 16.4 14.9 12.8 12.8 12.6 13.6 15.4 14.4 15.5 16.0 14.3 14.0 13.3
 [91] 13.7 15.1 13.6 11.6 13.8 14.1 14.1 14.7 11.7 13.9 18.1 15.5 18.1 16.6 17.5
[106] 19.3 13.6 18.3 16.8 19.4 16.8 16.3 17.4 15.2 16.1 17.2 16.8 20.4 19.5 14.7
[121] 18.1 15.3 19.2 15.7 17.8 18.2 15.6 15.8 16.9 17.6 18.2 20.1 17.0 15.7 15.7
[136] 19.1 17.7 16.8 15.6 17.5 17.8 17.4 15.5 18.2 18.2 17.2 15.7 16.7 17.3 15.8

In [16]:
apply(iris[, -5], 2, max)

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
         7.9          4.4          6.9          2.5

In [17]:
apply(mtcars, 2, sum)

     mpg      cyl     disp       hp     drat       wt     qsec       vs
 642.900  198.000 7383.100 4694.000  115.090  102.952  571.160   14.000
      am     gear     carb
  13.000  118.000   90.000

In [18]:
apply(mtcars, 2, max)

    mpg     cyl    disp      hp    drat      wt    qsec      vs      am    gear
 33.900   8.000 472.000 335.000   4.930   5.424  22.900   1.000   1.000   5.000
   carb
  8.000

In [19]:
apply(mtcars, 2, sd)

        mpg         cyl        disp          hp        drat          wt
  6.0269481   1.7859216 123.9386938  68.5628685   0.5346787   0.9784574
       qsec          vs          am        gear        carb
  1.7869432   0.5040161   0.4989909   0.7378041   1.6152000

In [26]:
weight <- c(69, 50, 55, 71, 89, 64, 59, 70, 71, 80)
which.max(weight)
which.min(weight)
which(weight >= 61 & weight <= 71)
weight.2 = weight[which(weight < 60)]
weight.2

[1] 5

[1] 2

[1] 1 4 6 8 9

[1] 50 55 59

In [27]:
colnames(iris)

[1] "Sepal.Length" "Sepal.Width"  "Petal.Length" "Petal.Width"  "Species"

In [28]:
iris[iris['Sepal.Length'] == max(iris['Sepal.Length'])]

[1] "7.9"       "3.8"       "6.4"       "2.0"       "virginica"

In [37]:
iris[which(iris['Petal.Length'] == max(iris['Petal.Length'])), ]

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
119 7.7          2.6         6.9          2.3         virginica

In [36]:
idx <- which(iris$Petal.Length == max(iris$Petal.Length))
iris[idx, ]

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
119 7.7          2.6         6.9          2.3         virginica

In [39]:
iris[iris['Petal.Width'] >= 0.3 & iris['Petal.Width'] <= 0.4, ]

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
6  5.4          3.9         1.7          0.4         setosa
7  4.6          3.4         1.4          0.3         setosa
16 5.7          4.4         1.5          0.4         setosa
17 5.4          3.9         1.3          0.4         setosa
18 5.1          3.5         1.4          0.3         setosa
19 5.7          3.8         1.7          0.3         setosa
20 5.1          3.8         1.5          0.3         setosa
22 5.1          3.7         1.5          0.4         setosa
27 5.0          3.4         1.6          0.4         setosa
32 5.4          3.4         1.5          0.4         setosa
41 5.0          3.5         1.3          0.3         setosa
42 4.5          2.3         1.3          0.3         setosa
45 5.1          3.8         1.9          0.4         setosa
46 4.8          3.0         1.4          0.3         setosa