In [2]:
x <- c(2, 4, 6, 8)
y <- c(10, 12, 14, 16)
z <- c(18, 20, 22, 24)
m <- cbind(x, y, z)
m

     x y  z
[1,] 2 10 18
[2,] 4 12 20
[3,] 6 14 22
[4,] 8 16 24

In [4]:
matrix(c(2, 10, 18, 4, 12, 20, 6, 14, 22, 8, 16, 24), nrow=4, byrow=T)

     [,1] [,2] [,3]
[1,] 2    10   18
[2,] 4    12   20
[3,] 6    14   22
[4,] 8    16   24

In [5]:
matrix(c(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24), nrow=4, byrow=F)

     [,1] [,2] [,3]
[1,] 2    10   18
[2,] 4    12   20
[3,] 6    14   22
[4,] 8    16   24

In [6]:
x <- c(9, 7, 5, 3)
y <- c(8, 11, 2, 9)
m <- rbind(x, y)
m

  [,1] [,2] [,3] [,4]
x 9     7   5    3
y 8    11   2    9

In [8]:
rownames(m) <- c("x", "y")
colnames(m) <- c("a", "b", "c", "d")

In [9]:
m

  a b  c d
x 9  7 5 3
y 8 11 2 9

In [10]:
m <- t(m)

In [11]:
m

  x y
a 9  8
b 7 11
c 5  2
d 3  9

In [13]:
df <- data.frame(m)
df

  x y
a 9  8
b 7 11
c 5  2
d 3  9

In [14]:
df['info'] <- c(1, 2, 4, 5)

In [15]:
df

  x y  info
a 9  8 1
b 7 11 2
c 5  2 4
d 3  9 5

In [17]:
class(df)

[1] "data.frame"

In [20]:
blood <- c("A", "O", "AB", "B", "B")
rh <- c('+',"+","-","+","+")
age <- c(21, 30, 43, 17, 26)
df <- data.frame(blood, rh, age)

In [21]:
df

  blood rh age
1 A     +  21
2 O     +  30
3 AB    -  43
4 B     +  17
5 B     +  26

In [22]:
colnames(df)

[1] "blood" "rh"    "age"

In [25]:
df.nb <- df[df['blood'] != 'B', ]

In [26]:
df.nb

  blood rh age
1 A     +  21
2 O     +  30
3 AB    -  43

In [29]:
번호 <- 1:7
제목 <- c("그대랑", "다툼", "빨래", "두통", "보조개", "매듭", "이상해")
좋아요 <- c(16075, 8218, 12119, 738, 3200, 16144, 5110)
love <- data.frame(번호, 제목, 좋아요)

In [30]:
love

  번호 제목   좋아요
1 1    그대랑 16075
2 2    다툼    8218
3 3    빨래   12119
4 4    두통     738
5 5    보조개  3200
6 6    매듭   16144
7 7    이상해  5110

In [33]:
best <- love[love['좋아요'] == max(love['좋아요']), ]

In [34]:
best

  번호 제목 좋아요
6 6    매듭 16144

In [35]:
class(mtcars)

[1] "data.frame"

In [36]:
dim(mtcars)

[1] 32 11

In [37]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [38]:
str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [39]:
colMeans(mtcars)

       mpg        cyl       disp         hp       drat         wt       qsec
 20.090625   6.187500 230.721875 146.687500   3.596563   3.217250  17.848750
        vs         am       gear       carb
  0.437500   0.406250   3.687500   2.812500

In [45]:
mtcars[mtcars['disp'] == max(mtcars['disp']), ]

                   mpg  cyl disp hp  drat wt   qsec  vs am gear carb
Cadillac Fleetwood 10.4 8   472  205 2.93 5.25 17.98 0  0  3    4

In [44]:
max(mtcars$disp)

[1] 472

In [49]:
colnames(mtcars)

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

In [48]:
mtcars[mtcars['disp'] == max(mtcars['disp']), ][c("speed")]

                   mpg  cyl disp hp  drat wt   qsec  vs am gear carb
Cadillac Fleetwood 10.4 8   472  205 2.93 5.25 17.98 0  0  3    4