In [1]:
df = mtcars

In [2]:
class(df)

[1] "data.frame"

In [3]:
dim(df)

[1] 32 11

In [4]:
str(df)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [7]:
rownames(df[df['mpg'] == max(df['mpg']), ])

[1] "Toyota Corolla"

In [12]:
subset <- df[df['gear'] == 4, ]
subset

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280       19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C      17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [15]:
rownames(subset[subset['mpg'] == min(subset['mpg']), ])

[1] "Merc 280C"

In [16]:
df['Honda Civic', c('mpg','gear')]

            mpg  gear
Honda Civic 30.4 4

In [18]:
rownames(df[df['mpg'] > df['Pontiac Firebird', 'mpg'], ])

 [1] "Mazda RX4"      "Mazda RX4 Wag"  "Datsun 710"     "Hornet 4 Drive"
 [5] "Merc 240D"      "Merc 230"       "Fiat 128"       "Honda Civic"
 [9] "Toyota Corolla" "Toyota Corona"  "Fiat X1-9"      "Porsche 914-2"
[13] "Lotus Europa"   "Ferrari Dino"   "Volvo 142E"

In [20]:
colMeans(df)['mpg']

     mpg
20.09062

In [21]:
mean(df['mpg'])

Warning message in mean.default(df["mpg"]):
"argument is not numeric or logical: returning NA"

[1] NA

In [22]:
mean(df$mpg)

[1] 20.09062

In [23]:
table(df$gear)

 3  4  5
15 12  5

In [24]:
unique(df$gear)

[1] 4 3 5

In [25]:
df = airquality

In [26]:
class(df)

[1] "data.frame"

In [27]:
head(df)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [30]:
df[df['Temp'] == max(df$Temp), c("Month", "Day")]

    Month Day
120 8     28

In [32]:
subset <- df[df['Month'] == 6, ]
subset

   Ozone Solar.R Wind Temp Month Day
32 NA    286      8.6 78   6      1
33 NA    287      9.7 74   6      2
34 NA    242     16.1 67   6      3
35 NA    186      9.2 84   6      4
36 NA    220      8.6 85   6      5
37 NA    264     14.3 79   6      6
38 29    127      9.7 82   6      7
39 NA    273      6.9 87   6      8
40 71    291     13.8 90   6      9
41 39    323     11.5 87   6     10
42 NA    259     10.9 93   6     11
43 NA    250      9.2 92   6     12
44 23    148      8.0 82   6     13
45 NA    332     13.8 80   6     14
46 NA    322     11.5 79   6     15
47 21    191     14.9 77   6     16
48 37    284     20.7 72   6     17
49 20     37      9.2 65   6     18
50 12    120     11.5 73   6     19
51 13    137     10.3 76   6     20
52 NA    150      6.3 77   6     21
53 NA     59      1.7 76   6     22
54 NA     91      4.6 76   6     23
55 NA    250      6.3 76   6     24
56 NA    135      8.0 75   6     25
57 NA    127      8.0 78   6     26
58 NA     47     10.3 73   6     27
59 NA     98     11.5 80   6     28
60 NA     31     14.9 77   6     29
61 NA    138      8.0 83   6     30

In [36]:
colnames(subset)

[1] "Ozone"   "Solar.R" "Wind"    "Temp"    "Month"   "Day"

In [37]:
subset[subset['Wind'] == max(subset['Wind']), ]

   Ozone Solar.R Wind Temp Month Day
48 37    284     20.7 72   6     17

In [39]:
subset <- df[df['Month'] == 7, ]
subset

   Ozone Solar.R Wind Temp Month Day
62 135   269      4.1 84   7      1
63  49   248      9.2 85   7      2
64  32   236      9.2 81   7      3
65  NA   101     10.9 84   7      4
66  64   175      4.6 83   7      5
67  40   314     10.9 83   7      6
68  77   276      5.1 88   7      7
69  97   267      6.3 92   7      8
70  97   272      5.7 92   7      9
71  85   175      7.4 89   7     10
72  NA   139      8.6 82   7     11
73  10   264     14.3 73   7     12
74  27   175     14.9 81   7     13
75  NA   291     14.9 91   7     14
76   7    48     14.3 80   7     15
77  48   260      6.9 81   7     16
78  35   274     10.3 82   7     17
79  61   285      6.3 84   7     18
80  79   187      5.1 87   7     19
81  63   220     11.5 85   7     20
82  16     7      6.9 74   7     21
83  NA   258      9.7 81   7     22
84  NA   295     11.5 82   7     23
85  80   294      8.6 86   7     24
86 108   223      8.0 85   7     25
87  20    81      8.6 82   7     26
88  52    82     12.0 86   7     27
89  82   213      7.4 88   7     28
90  50   275      7.4 86   7     29
91  64   253      7.4 83   7     30
92  59   254      9.2 81   7     31

In [40]:
colMeans(subset)['Temp']

    Temp
83.90323

In [42]:
subset <- df[df['Month'] == 5, ]
subset

   Ozone Solar.R Wind Temp Month Day
1   41   190      7.4 67   5      1
2   36   118      8.0 72   5      2
3   12   149     12.6 74   5      3
4   18   313     11.5 62   5      4
5   NA    NA     14.3 56   5      5
6   28    NA     14.9 66   5      6
7   23   299      8.6 65   5      7
8   19    99     13.8 59   5      8
9    8    19     20.1 61   5      9
10  NA   194      8.6 69   5     10
11   7    NA      6.9 74   5     11
12  16   256      9.7 69   5     12
13  11   290      9.2 66   5     13
14  14   274     10.9 68   5     14
15  18    65     13.2 58   5     15
16  14   334     11.5 64   5     16
17  34   307     12.0 66   5     17
18   6    78     18.4 57   5     18
19  30   322     11.5 68   5     19
20  11    44      9.7 62   5     20
21   1     8      9.7 59   5     21
22  11   320     16.6 73   5     22
23   4    25      9.7 61   5     23
24  32    92     12.0 61   5     24
25  NA    66     16.6 57   5     25
26  NA   266     14.9 58   5     26
27  NA    NA      8.0 57   5     27
28  23    13     12.0 67   5     28
29  45   252     14.9 81   5     29
30 115   223      5.7 79   5     30
31  37   279      7.4 76   5     31

In [45]:
mean(subset$Ozone, na.rm=T)

[1] 23.61538

In [47]:
df[df['Ozone'] > 100, ]

      Ozone Solar.R Wind Temp Month Day
NA     NA    NA      NA  NA   NA    NA
NA.1   NA    NA      NA  NA   NA    NA
NA.2   NA    NA      NA  NA   NA    NA
NA.3   NA    NA      NA  NA   NA    NA
NA.4   NA    NA      NA  NA   NA    NA
30    115   223     5.7  79    5    30
NA.5   NA    NA      NA  NA   NA    NA
NA.6   NA    NA      NA  NA   NA    NA
NA.7   NA    NA      NA  NA   NA    NA
NA.8   NA    NA      NA  NA   NA    NA
NA.9   NA    NA      NA  NA   NA    NA
NA.10  NA    NA      NA  NA   NA    NA
NA.11  NA    NA      NA  NA   NA    NA
NA.12  NA    NA      NA  NA   NA    NA
NA.13  NA    NA      NA  NA   NA    NA
NA.14  NA    NA      NA  NA   NA    NA
NA.15  NA    NA      NA  NA   NA    NA
NA.16  NA    NA      NA  NA   NA    NA
NA.17  NA    NA      NA  NA   NA    NA
NA.18  NA    NA      NA  NA   NA    NA
NA.19  NA    NA      NA  NA   NA    NA
NA.20  NA    NA      NA  NA   NA    NA
NA.21  NA    NA      NA  NA   NA    NA
NA.22  NA    NA      NA  NA   NA    NA
NA.23  NA    NA      NA  NA   NA    NA
NA.24  NA    NA      NA  NA   NA    NA
NA.25  NA    NA      NA  NA   NA    NA
62    135   269     4.1  84    7     1
NA.26  NA    NA      NA  NA   NA    NA
NA.27  NA    NA      NA  NA   NA    NA
NA.28  NA    NA      NA  NA   NA    NA
NA.29  NA    NA      NA  NA   NA    NA
NA.30  NA    NA      NA  NA   NA    NA
86    108   223     8.0  85    7    25
99    122   255     4.0  89    8     7
101   110   207     8.0  90    8     9
NA.31  NA    NA      NA  NA   NA    NA
NA.32  NA    NA      NA  NA   NA    NA
NA.33  NA    NA      NA  NA   NA    NA
NA.34  NA    NA      NA  NA   NA    NA
117   168   238     3.4  81    8    25
NA.35  NA    NA      NA  NA   NA    NA
121   118   225     2.3  94    8    29
NA.36  NA    NA      NA  NA   NA    NA

In [48]:
nrow(df[df['Ozone'] > 100, ])

[1] 44

In [49]:
df = swiss

In [50]:
colnames(df)

[1] "Fertility"        "Agriculture"      "Examination"      "Education"
[5] "Catholic"         "Infant.Mortality"

In [52]:
rownames(df[df['Agriculture'] == max(df['Agriculture']), ])

[1] "Herens"

In [56]:
df[df['Catholic'] >= 80, "Agriculture"]

 [1] 45.1 39.7 35.3 70.2 67.8 53.3 45.2 64.5 85.9 84.9 89.7 78.2 64.9 75.9 84.6
[16] 63.1

In [59]:
df[df['Examination'] < 20 & df['Agriculture'] < 50, c("Examination" , "Agriculture")]

             Examination Agriculture
Courtelary   15          17.0
Delemont      6          45.1
Franches-Mnt  5          39.7
Moutier      12          36.5
Neuveville   17          43.5
Porrentruy    9          35.3
Sarine       16          45.2
Grandson     17          34.0
Yverdon      15          49.5
Val de Ruz   15          37.6
Rive Droite  16          46.6

In [63]:
subset(df, Examination < 20 & Agriculture < 50, select = c('Examination', 'Agriculture'))

             Examination Agriculture
Courtelary   15          17.0
Delemont      6          45.1
Franches-Mnt  5          39.7
Moutier      12          36.5
Neuveville   17          43.5
Porrentruy    9          35.3
Sarine       16          45.2
Grandson     17          34.0
Yverdon      15          49.5
Val de Ruz   15          37.6
Rive Droite  16          46.6

In [65]:
sum <- 0
count <- 0
for(i in 1:100){
    if(i%%3 == 0){
        sum <- sum + i
        count <- count + 1
    }
}
sum
count

[1] 1683

[1] 33

In [66]:
for(i in 101:200){
    if(i%%3==0 & i%%4 == 0){
        cat(i, '')
    }
}

108 120 132 144 156 168 180 192

In [67]:
for(i in 1:24){
    if(i%%24 == 0){
        print(i)
    }
}

[1] 24

In [68]:
factorial(10)

[1] 3628800

In [69]:
hx <- 1
for(i in 1:10){
    hx <- hx * i
    print(hx)
}

[1] 1
[1] 2
[1] 6
[1] 24
[1] 120
[1] 720
[1] 5040
[1] 40320
[1] 362880
[1] 3628800

In [70]:
for(i in 1:9){
    cat("9 * ",i, "=", 9 * i, "\n")
}

9 *  1 = 9
9 *  2 = 18
9 *  3 = 27
9 *  4 = 36
9 *  5 = 45
9 *  6 = 54
9 *  7 = 63
9 *  8 = 72
9 *  9 = 81

In [72]:
ix <- 1
while(ix <= 10){
    cat("8 * ",ix,"=", 8*ix, "\n")
    ix <- ix + 1
}

8 *  1 = 8
8 *  2 = 16
8 *  3 = 24
8 *  4 = 32
8 *  5 = 40
8 *  6 = 48
8 *  7 = 56
8 *  8 = 64
8 *  9 = 72
8 *  10 = 80

In [78]:
for(i in 1:100){
    result <- ifelse(i%%3==0, '*', i)
    cat(result, ' ')
}

1  2  *  4  5  *  7  8  *  10  11  *  13  14  *  16  17  *  19  20  *  22  23  *  25  26  *  28  29  *  31  32  *  34  35  *  37  38  *  40  41  *  43  44  *  46  47  *  49  50  *  52  53  *  55  56  *  58  59  *  61  62  *  64  65  *  67  68  *  70  71  *  73  74  *  76  77  *  79  80  *  82  83  *  85  86  *  88  89  *  91  92  *  94  95  *  97  98  *  100

In [81]:
prime <- c()
for(i in 2:1000){
    for(j in 2:i){
        if(i %% j == 0){
            break
        }
    }
    if(i==j){
        prime <- c(prime, i)
    }
}
prime

  [1]   2   3   5   7  11  13  17  19  23  29  31  37  41  43  47  53  59  61
 [19]  67  71  73  79  83  89  97 101 103 107 109 113 127 131 137 139 149 151
 [37] 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251
 [55] 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359
 [73] 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463
 [91] 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593
[109] 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701
[127] 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827
[145] 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953
[163] 967 971 977 983 991 997

In [82]:
fibo <- c(0,1)
for( i in 3:40){
    fibo[i] <- fibo[i-1] + fibo[i-2]
}

In [83]:
fibo

 [1]        0        1        1        2        3        5        8       13
 [9]       21       34       55       89      144      233      377      610
[17]      987     1597     2584     4181     6765    10946    17711    28657
[25]    46368    75025   121393   196418   317811   514229   832040  1346269
[33]  2178309  3524578  5702887  9227465 14930352 24157817 39088169 63245986

In [84]:
colnames(iris)

[1] "Sepal.Length" "Sepal.Width"  "Petal.Length" "Petal.Width"  "Species"

In [85]:
str(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [87]:
apply(iris[-5], 1, sum)

  [1] 10.2  9.5  9.4  9.4 10.2 11.4  9.7 10.1  8.9  9.6 10.8 10.0  9.3  8.5 11.2
 [16] 12.0 11.0 10.3 11.5 10.7 10.7 10.7  9.4 10.6 10.3  9.8 10.4 10.4 10.2  9.7
 [31]  9.7 10.7 10.9 11.3  9.7  9.6 10.5 10.0  8.9 10.2 10.1  8.4  9.1 10.7 11.2
 [46]  9.5 10.7  9.4 10.7  9.9 16.3 15.6 16.4 13.1 15.4 14.3 15.9 11.6 15.4 13.2
 [61] 11.5 14.6 13.2 15.1 13.4 15.6 14.6 13.6 14.4 13.1 15.7 14.2 15.2 14.8 14.9
 [76] 15.4 15.8 16.4 14.9 12.8 12.8 12.6 13.6 15.4 14.4 15.5 16.0 14.3 14.0 13.3
 [91] 13.7 15.1 13.6 11.6 13.8 14.1 14.1 14.7 11.7 13.9 18.1 15.5 18.1 16.6 17.5
[106] 19.3 13.6 18.3 16.8 19.4 16.8 16.3 17.4 15.2 16.1 17.2 16.8 20.4 19.5 14.7
[121] 18.1 15.3 19.2 15.7 17.8 18.2 15.6 15.8 16.9 17.6 18.2 20.1 17.0 15.7 15.7
[136] 19.1 17.7 16.8 15.6 17.5 17.8 17.4 15.5 18.2 18.2 17.2 15.7 16.7 17.3 15.8

In [88]:
apply(iris[-5], 2, max)

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
         7.9          4.4          6.9          2.5

In [89]:
str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [90]:
apply(mtcars, 2, sum)

     mpg      cyl     disp       hp     drat       wt     qsec       vs
 642.900  198.000 7383.100 4694.000  115.090  102.952  571.160   14.000
      am     gear     carb
  13.000  118.000   90.000

In [91]:
apply(mtcars, 2, max)

    mpg     cyl    disp      hp    drat      wt    qsec      vs      am    gear
 33.900   8.000 472.000 335.000   4.930   5.424  22.900   1.000   1.000   5.000
   carb
  8.000

In [92]:
apply(mtcars, 2, sd)

        mpg         cyl        disp          hp        drat          wt
  6.0269481   1.7859216 123.9386938  68.5628685   0.5346787   0.9784574
       qsec          vs          am        gear        carb
  1.7869432   0.5040161   0.4989909   0.7378041   1.6152000

In [93]:
weight <- c(69, 50, 55, 71, 89, 64, 59, 70, 71, 80)
which.max(weight)

[1] 5

In [94]:
weight[5]

[1] 89

In [95]:
which.min(weight)

[1] 2

In [100]:
which(weight >= 61 & weight <= 69)

[1] 1 6

In [101]:
weight[c(1, 6)]

[1] 69 64

In [98]:
weight.2 <- weight[which(weight < 60)]
weight.2

[1] 50 55 59

In [102]:
str(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [103]:
which(iris$Petal.Length == max(iris$Petal.Length))

[1] 119

In [104]:
iris['Petal.Length', 119]

NULL

In [105]:
iris[119, ]

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
119 7.7          2.6         6.9          2.3         virginica

In [106]:
which(iris$Petal.Width >= 0.3 & iris$Petal.Width <= 0.4)

 [1]  6  7 16 17 18 19 20 22 27 32 41 42 45 46

In [107]:
iris[which(iris$Petal.Width >= 0.3 & iris$Petal.Width <= 0.4), ]

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
6  5.4          3.9         1.7          0.4         setosa
7  4.6          3.4         1.4          0.3         setosa
16 5.7          4.4         1.5          0.4         setosa
17 5.4          3.9         1.3          0.4         setosa
18 5.1          3.5         1.4          0.3         setosa
19 5.7          3.8         1.7          0.3         setosa
20 5.1          3.8         1.5          0.3         setosa
22 5.1          3.7         1.5          0.4         setosa
27 5.0          3.4         1.6          0.4         setosa
32 5.4          3.4         1.5          0.4         setosa
41 5.0          3.5         1.3          0.3         setosa
42 4.5          2.3         1.3          0.3         setosa
45 5.1          3.8         1.9          0.4         setosa
46 4.8          3.0         1.4          0.3         setosa

In [108]:
a <- 0
n <- 1
s <- 0
while(n <= 100){
    a <- a + 2
    s <- s + a
    n <- n + 1
}
s

[1] 10100

In [115]:
a <- 0
s <- 0
n <- 1
while(n <= 50){
    a <- a + n
    n <- n + 1
    s <- s + a
}
a
n
s

[1] 1275

[1] 51

[1] 22100

In [120]:
s <- 0
n <- 0
while(n < 50){
    n <- n + 1
    s <- s + (3*n - 1)
#     print(n)
    print(s)
}
s

[1] 2
[1] 7
[1] 15
[1] 26
[1] 40
[1] 57
[1] 77
[1] 100
[1] 126
[1] 155
[1] 187
[1] 222
[1] 260
[1] 301
[1] 345
[1] 392
[1] 442
[1] 495
[1] 551
[1] 610
[1] 672
[1] 737
[1] 805
[1] 876
[1] 950
[1] 1027
[1] 1107
[1] 1190
[1] 1276
[1] 1365
[1] 1457
[1] 1552
[1] 1650
[1] 1751
[1] 1855
[1] 1962
[1] 2072
[1] 2185
[1] 2301
[1] 2420
[1] 2542
[1] 2667
[1] 2795
[1] 2926
[1] 3060
[1] 3197
[1] 3337
[1] 3480
[1] 3626
[1] 3775

[1] 3775

In [118]:
50 * 51

[1] 2550

In [126]:
a <- 0
n <- 1
while(!n > 11){
    a <- a + n
    n <- n + 1
}
a
n

[1] 66

[1] 12

In [127]:
s <- 0
n <- 0

In [128]:
while(n != 50){
    n <- n + 1
    s <- s + 2 * n - 1
}
n
s

[1] 50

[1] 2500

In [129]:
100 * 101

[1] 10100

In [130]:
11 * 12

[1] 132

In [131]:
132/ 2

[1] 66

In [135]:
a <- 0
n <- 1
while(){
    print(n)
    n <- n + 1
}

In [ ]:
a <- 0
n <- 1
while(n < 11){
    print(n)
}