In [2]:
v1 <- c(92, 43, 55, 28, 19)
v1

[1] 92 43 55 28 19

In [3]:
v1 <- c('T','T')
v2 <- c(T, F)
sum(v1)
sum(v2)

ERROR: Error in sum(v1): invalid 'type' (character) of argument

In [4]:
sum(v2)

[1] 1

In [5]:
a <- c(1, 2)
b <- '3'
c <- c(a, b)
d <- "4"

In [6]:
class(a)
class(b)
class(c)
class(d)

[1] "numeric"

[1] "character"

[1] "character"

[1] "character"

In [8]:
a[a%%3==0 & a < 100]

 [1] 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [7]:
a <- 25:150
condi <- a[a%%3==0 & a < 100]
length(a)

[1] 126

In [10]:
m <- matrix(c(9, 8, 7, 11, 5, 2, 3, 9), nrow=2, byrow=F)
m

     [,1] [,2] [,3] [,4]
[1,] 9     7   5    3
[2,] 8    11   2    9

In [11]:
rownames(m) <- c('x', 'y')
colnames(m) <- c('a','b','c','d')

In [12]:
m

  a b  c d
x 9  7 5 3
y 8 11 2 9

In [23]:
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [24]:
str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [25]:
n <- 12
if(n%%2 == 0){
    type <- 'odd'
}else {
    type <- 'even'
}

In [26]:
type

[1] "odd"

In [27]:
ifelse(n < 0, -n, n)

[1] 12

In [28]:
weight <- c(69, 50, 55, 71, 89, 64, 59, 70, 80)

In [29]:
which.max(weight)

[1] 5

In [30]:
which.min(weight)

[1] 2

In [31]:
which(weight >= 61 & weight <= 69)

[1] 1 6

In [32]:
d <- 100:200

In [33]:
d

  [1] 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117
 [19] 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135
 [37] 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153
 [55] 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171
 [73] 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189
 [91] 190 191 192 193 194 195 196 197 198 199 200

In [34]:
d[91:100]

 [1] 190 191 192 193 194 195 196 197 198 199

In [35]:
d[d%%3==0]

 [1] 102 105 108 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156
[20] 159 162 165 168 171 174 177 180 183 186 189 192 195 198

In [37]:
d.20 <- d[1:20]

In [38]:
d.20[-5]

 [1] 100 101 102 103 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119

In [39]:
colSums(USArrests)

  Murder  Assault UrbanPop     Rape
   389.4   8538.0   3277.0   1061.6

In [40]:
colMeans(USArrests)

  Murder  Assault UrbanPop     Rape
   7.788  170.760   65.540   21.232

In [41]:
blood <- c('A', 'O', 'AB', 'B', 'B')
rh <- c('+','+','-','+','+')
age <- c(21, 30, 43, 17, 26)
df <- data.frame(blood, rh, age)
df

  blood rh age
1 A     +  21
2 O     +  30
3 AB    -  43
4 B     +  17
5 B     +  26

In [42]:
colnames(df)

[1] "blood" "rh"    "age"

In [43]:
df[df['blood'] !=  'B', ]

  blood rh age
1 A     +  21
2 O     +  30
3 AB    -  43