In [3]:
25 + 99
456-123
2*(3+4)
(3+5*6)/7
(7-4)*3
210+ 35
1256 %% 7
184 %% 5
1976/24
16*25+186*5-67*22

[1] 124

[1] 333

[1] 14

[1] 4.714286

[1] 9

[1] 245

[1] 3

[1] 4

[1] 82.33333

[1] -144

In [4]:
a <- 4
b <- 5
c <- a + b
c

[1] 9

In [9]:
pi <- 3.14
l <- c(10, 12, 15)
for(i in 1:3){
    cat("반지름이 ",l[i],"인 원의 면적 : ",pi*l[i]^2,"\n")
}

반지름이  10 인 원의 면적 :  314
반지름이  12 인 원의 면적 :  452.16
반지름이  15 인 원의 면적 :  706.5

In [12]:
lm <- c(6, 8, 10)
for(i in 1:length(lm)){
    cat("y = 2x^2 + 5x + 10 : x = ", lm[i], "y의 값 : ", 2*(lm[i]^2) + (5 * lm[i]) + 10, "\n")
}

y = 2x^2 + 5x + 10 : x =  6 y의 값 :  112
y = 2x^2 + 5x + 10 : x =  8 y의 값 :  178
y = 2x^2 + 5x + 10 : x =  10 y의 값 :  260

In [14]:
val.a <- 10
val.b <- 0
val.ab <- val.a + val.b
val.ab

[1] 10

In [15]:
vc.1 <- c(95, 86, 47, 55, 68)
vc.1

[1] 95 86 47 55 68

In [16]:
vc.2 <- seq(100, 200, 2)
vc.2

 [1] 100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136
[20] 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174
[39] 176 178 180 182 184 186 188 190 192 194 196 198 200

In [17]:
vc.3 <- rep(TRUE, 20)
vc.3

 [1] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE
[16] TRUE TRUE TRUE TRUE TRUE

In [18]:
d <- 100:200
d[10]
d[91:100]

[1] 109

 [1] 190 191 192 193 194 195 196 197 198 199

In [19]:
d[d%%2 == 1]

 [1] 101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137
[20] 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175
[39] 177 179 181 183 185 187 189 191 193 195 197 199

In [20]:
d[d%%3 == 0]

 [1] 102 105 108 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156
[20] 159 162 165 168 171 174 177 180 183 186 189 192 195 198

In [22]:
d.20 <- d[1:20]
d.20

 [1] 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118
[20] 119

In [23]:
d.20[-5]

 [1] 100 101 102 103 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119

In [24]:
d.20[-c(5, 7, 9)]

 [1] 100 101 102 103 105 107 109 110 111 112 113 114 115 116 117 118 119

In [25]:
absent <- c(10, 8, 14, 15, 9, 10, 15, 12, 9, 7, 8, 7)
absent

 [1] 10  8 14 15  9 10 15 12  9  7  8  7

In [26]:
names(absent) <- c('Jan','Feb','Mar','Arp','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec')
absent

Jan Feb Mar Arp May Jun Jul Aug Sep Oct Nov Dec
 10   8  14  15   9  10  15  12   9   7   8   7

In [27]:
absent['May']

May
  9

In [28]:
absent[5]

May
  9

In [29]:
absent[c('Jul','Sep')]

Jul Sep
 15   9

In [30]:
absent[c(7, 9)]

Jul Sep
 15   9

In [31]:
sum(absent[1:6])

[1] 66

In [32]:
mean(absent[7:12])

[1] 9.666667

In [33]:
d1 <- 1:50
d2 <- 51:100

d1
d2

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

 [1]  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69
[20]  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88
[39]  89  90  91  92  93  94  95  96  97  98  99 100

In [34]:
d1 + d2

 [1]  52  54  56  58  60  62  64  66  68  70  72  74  76  78  80  82  84  86  88
[20]  90  92  94  96  98 100 102 104 106 108 110 112 114 116 118 120 122 124 126
[39] 128 130 132 134 136 138 140 142 144 146 148 150

In [35]:
d2 - d1

 [1] 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50
[26] 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50

In [36]:
d1 * d2

 [1]   51  104  159  216  275  336  399  464  531  600  671  744  819  896  975
[16] 1056 1139 1224 1311 1400 1491 1584 1679 1776 1875 1976 2079 2184 2291 2400
[31] 2511 2624 2739 2856 2975 3096 3219 3344 3471 3600 3731 3864 3999 4136 4275
[46] 4416 4559 4704 4851 5000

In [37]:
d2 / d1

 [1] 51.000000 26.000000 17.666667 13.500000 11.000000  9.333333  8.142857
 [8]  7.250000  6.555556  6.000000  5.545455  5.166667  4.846154  4.571429
[15]  4.333333  4.125000  3.941176  3.777778  3.631579  3.500000  3.380952
[22]  3.272727  3.173913  3.083333  3.000000  2.923077  2.851852  2.785714
[29]  2.724138  2.666667  2.612903  2.562500  2.515152  2.470588  2.428571
[36]  2.388889  2.351351  2.315789  2.282051  2.250000  2.219512  2.190476
[43]  2.162791  2.136364  2.111111  2.086957  2.063830  2.041667  2.020408
[50]  2.000000

In [38]:
sum(d1)
sum(d2)

[1] 1275

[1] 3775

In [39]:
max(d2)

[1] 100

In [40]:
min(d1)

[1] 1

In [41]:
m.1 <- mean(d1)
m.2 <- mean(d2)

In [42]:
m.2 - m.1

[1] 50

In [44]:
abs(m.2 - m.1)

[1] 50

In [45]:
sort(d1, T)

 [1] 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26
[26] 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1

In [46]:
d.3 <- c(d1[1:10], d2[1:10])

In [47]:
length(d.3)

[1] 20

In [48]:
d.3

 [1]  1  2  3  4  5  6  7  8  9 10 51 52 53 54 55 56 57 58 59 60

In [49]:
v1 <- 51:90
v1[v1 < 60]

[1] 51 52 53 54 55 56 57 58 59

In [50]:
length(v1[v1 < 70])

[1] 19

In [51]:
sum(v1[v1 > 65])

[1] 1950

In [52]:
v1[v1 < 65 | v1 > 80]

 [1] 51 52 53 54 55 56 57 58 59 60 61 62 63 64 81 82 83 84 85 86 87 88 89 90

In [53]:
v1[v1%%7==3]

[1] 52 59 66 73 80 87

In [54]:
v1[v1%%7==0] <- 0

In [55]:
v1

 [1] 51 52 53 54 55  0 57 58 59 60 61 62  0 64 65 66 67 68 69  0 71 72 73 74 75
[26] 76  0 78 79 80 81 82 83  0 85 86 87 88 89 90

In [56]:
v1 <- 51:90

In [57]:
sum(v1[v1 %% 2 == 0])

[1] 1420

In [58]:
v1[v1 %% 2 == 1 | v1 > 80]

 [1] 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 82 83 84 85 86 87 88 89 90

In [59]:
v1[v1 %% 3 == 0 & v1 %% 5 == 0]

[1] 60 75 90

In [61]:
v1 <- v1[v1 %% 2 == 0] * 2
v1

 [1] 208 216 224 232 240 248 256 264 272 280 288 296 304 312 320 328 336 344 352
[20] 360

In [62]:
v1[v1%%2==0] <- v1[v1%%2==0] * 2

In [63]:
v1

 [1] 416 432 448 464 480 496 512 528 544 560 576 592 608 624 640 656 672 688 704
[20] 720

In [65]:
v1 <- 51:90

In [67]:
v1 <- v1[v1%%7!=0]
v1

 [1] 51 52 53 54 55 57 58 59 60 61 62 64 65 66 67 68 69 71 72 73 74 75 76 78 79
[26] 80 81 82 83 85 86 87 88 89 90

In [68]:
m <- c(10, 40, 60, 20)
f <- c(21, 60, 70, 30)
score <- data.frame(m, f)
score

  m  f
1 10 21
2 40 60
3 60 70
4 20 30

In [69]:
colnames(score) <- c('male', 'female')
score

  male female
1 10   21
2 40   60
3 60   70
4 20   30

In [70]:
score[2, ]

  male female
2 40   60

In [71]:
score[]

  male female
1 10   21
2 40   60
3 60   70
4 20   30

In [72]:
score

  male female
1 10   21
2 40   60
3 60   70
4 20   30

In [73]:
score[3, 2]

[1] 70

In [75]:
st <- data.frame(state.x77)
head(st)

           Population Income Illiteracy Life.Exp Murder HS.Grad Frost Area
Alabama     3615      3624   2.1        69.05    15.1   41.3     20    50708
Alaska       365      6315   1.5        69.31    11.3   66.7    152   566432
Arizona     2212      4530   1.8        70.55     7.8   58.1     15   113417
Arkansas    2110      3378   1.9        70.66    10.1   39.9     65    51945
California 21198      5114   1.1        71.71    10.3   62.6     20   156361
Colorado    2541      4884   0.7        72.06     6.8   63.9    166   103766

In [77]:
colnames(st)
rownames(st)

[1] "Population" "Income"     "Illiteracy" "Life.Exp"   "Murder"
[6] "HS.Grad"    "Frost"      "Area"

 [1] "Alabama"        "Alaska"         "Arizona"        "Arkansas"
 [5] "California"     "Colorado"       "Connecticut"    "Delaware"
 [9] "Florida"        "Georgia"        "Hawaii"         "Idaho"
[13] "Illinois"       "Indiana"        "Iowa"           "Kansas"
[17] "Kentucky"       "Louisiana"      "Maine"          "Maryland"
[21] "Massachusetts"  "Michigan"       "Minnesota"      "Mississippi"
[25] "Missouri"       "Montana"        "Nebraska"       "Nevada"
[29] "New Hampshire"  "New Jersey"     "New Mexico"     "New York"
[33] "North Carolina" "North Dakota"   "Ohio"           "Oklahoma"
[37] "Oregon"         "Pennsylvania"   "Rhode Island"   "South Carolina"
[41] "South Dakota"   "Tennessee"      "Texas"          "Utah"
[45] "Vermont"        "Virginia"       "Washington"     "West Virginia"
[49] "Wisconsin"      "Wyoming"

In [78]:
dim(st)

[1] 50  8

In [79]:
str(st)

'data.frame':	50 obs. of  8 variables:
 $ Population: num  3615 365 2212 2110 21198 ...
 $ Income    : num  3624 6315 4530 3378 5114 ...
 $ Illiteracy: num  2.1 1.5 1.8 1.9 1.1 0.7 1.1 0.9 1.3 2 ...
 $ Life.Exp  : num  69 69.3 70.5 70.7 71.7 ...
 $ Murder    : num  15.1 11.3 7.8 10.1 10.3 6.8 3.1 6.2 10.7 13.9 ...
 $ HS.Grad   : num  41.3 66.7 58.1 39.9 62.6 63.9 56 54.6 52.6 40.6 ...
 $ Frost     : num  20 152 15 65 20 166 139 103 11 60 ...
 $ Area      : num  50708 566432 113417 51945 156361 ...

In [83]:
apply(st, 1, sum)

       Alabama         Alaska        Arizona       Arkansas     California
      58094.55      573412.81      120312.25       57620.56      182838.71
      Colorado    Connecticut       Delaware        Florida        Georgia
     111500.46       13581.68        7604.76       67328.26       67280.04
        Hawaii          Idaho       Illinois        Indiana           Iowa
      12399.60       87872.27       72312.94       46121.58       63704.36
        Kansas       Kentucky      Louisiana          Maine       Maryland
      88987.58       46964.80       52419.96       35961.49       19544.92
 Massachusetts       Michigan      Minnesota    Mississippi       Missouri
      18632.73       70939.43       88178.46       52908.99       78253.59
       Montana       Nebraska         Nevada  New Hampshire     New Jersey
     150970.36       82809.40      115962.23       14426.83       20335.73
    New Mexico       New York North Carolina   North Dakota           Ohio
     126414.42       71027.55       58314.61       75308.28       56527.22
      Oklahoma         Oregon   Pennsylvania   Rhode Island South Carolina
      75692.52      103308.93       61528.73        6787.00       36860.66
  South Dakota      Tennessee          Texas           Utah        Vermont
      81102.58       49516.61      278726.70       87603.30       13948.84
      Virginia     Washington  West Virginia      Wisconsin        Wyoming
      49675.78       75165.12       29705.18       63800.68      102458.69

In [84]:
apply(st, 1, mean)

       Alabama         Alaska        Arizona       Arkansas     California
      7261.819      71676.601      15039.031       7202.570      22854.839
      Colorado    Connecticut       Delaware        Florida        Georgia
     13937.558       1697.710        950.595       8416.032       8410.005
        Hawaii          Idaho       Illinois        Indiana           Iowa
      1549.950      10984.034       9039.118       5765.198       7963.045
        Kansas       Kentucky      Louisiana          Maine       Maryland
     11123.448       5870.600       6552.495       4495.186       2443.115
 Massachusetts       Michigan      Minnesota    Mississippi       Missouri
      2329.091       8867.429      11022.308       6613.624       9781.699
       Montana       Nebraska         Nevada  New Hampshire     New Jersey
     18871.295      10351.175      14495.279       1803.354       2541.966
    New Mexico       New York North Carolina   North Dakota           Ohio
     15801.802       8878.444       7289.326       9413.535       7065.903
      Oklahoma         Oregon   Pennsylvania   Rhode Island South Carolina
      9461.565      12913.616       7691.091        848.375       4607.583
  South Dakota      Tennessee          Texas           Utah        Vermont
     10137.823       6189.576      34840.838      10950.413       1743.605
      Virginia     Washington  West Virginia      Wisconsin        Wyoming
      6209.472       9395.640       3713.148       7975.085      12807.336

In [81]:
apply(st, 2, sum)

Population     Income Illiteracy   Life.Exp     Murder    HS.Grad      Frost
 212321.00  221790.00      58.50    3543.93     368.90    2655.40    5223.00
      Area
3536794.00

In [86]:
apply(st, 2, mean)

Population     Income Illiteracy   Life.Exp     Murder    HS.Grad      Frost
 4246.4200  4435.8000     1.1700    70.8786     7.3780    53.1080   104.4600
      Area
70735.8800

In [87]:
colSums(st)

Population     Income Illiteracy   Life.Exp     Murder    HS.Grad      Frost
 212321.00  221790.00      58.50    3543.93     368.90    2655.40    5223.00
      Area
3536794.00

In [88]:
colMeans(st)

Population     Income Illiteracy   Life.Exp     Murder    HS.Grad      Frost
 4246.4200  4435.8000     1.1700    70.8786     7.3780    53.1080   104.4600
      Area
70735.8800

In [89]:
rowSums(st)

       Alabama         Alaska        Arizona       Arkansas     California
      58094.55      573412.81      120312.25       57620.56      182838.71
      Colorado    Connecticut       Delaware        Florida        Georgia
     111500.46       13581.68        7604.76       67328.26       67280.04
        Hawaii          Idaho       Illinois        Indiana           Iowa
      12399.60       87872.27       72312.94       46121.58       63704.36
        Kansas       Kentucky      Louisiana          Maine       Maryland
      88987.58       46964.80       52419.96       35961.49       19544.92
 Massachusetts       Michigan      Minnesota    Mississippi       Missouri
      18632.73       70939.43       88178.46       52908.99       78253.59
       Montana       Nebraska         Nevada  New Hampshire     New Jersey
     150970.36       82809.40      115962.23       14426.83       20335.73
    New Mexico       New York North Carolina   North Dakota           Ohio
     126414.42       71027.55       58314.61       75308.28       56527.22
      Oklahoma         Oregon   Pennsylvania   Rhode Island South Carolina
      75692.52      103308.93       61528.73        6787.00       36860.66
  South Dakota      Tennessee          Texas           Utah        Vermont
      81102.58       49516.61      278726.70       87603.30       13948.84
      Virginia     Washington  West Virginia      Wisconsin        Wyoming
      49675.78       75165.12       29705.18       63800.68      102458.69

In [90]:
rowMeans(st)

       Alabama         Alaska        Arizona       Arkansas     California
      7261.819      71676.601      15039.031       7202.570      22854.839
      Colorado    Connecticut       Delaware        Florida        Georgia
     13937.558       1697.710        950.595       8416.032       8410.005
        Hawaii          Idaho       Illinois        Indiana           Iowa
      1549.950      10984.034       9039.118       5765.198       7963.045
        Kansas       Kentucky      Louisiana          Maine       Maryland
     11123.448       5870.600       6552.495       4495.186       2443.115
 Massachusetts       Michigan      Minnesota    Mississippi       Missouri
      2329.091       8867.429      11022.308       6613.624       9781.699
       Montana       Nebraska         Nevada  New Hampshire     New Jersey
     18871.295      10351.175      14495.279       1803.354       2541.966
    New Mexico       New York North Carolina   North Dakota           Ohio
     15801.802       8878.444       7289.326       9413.535       7065.903
      Oklahoma         Oregon   Pennsylvania   Rhode Island South Carolina
      9461.565      12913.616       7691.091        848.375       4607.583
  South Dakota      Tennessee          Texas           Utah        Vermont
     10137.823       6189.576      34840.838      10950.413       1743.605
      Virginia     Washington  West Virginia      Wisconsin        Wyoming
      6209.472       9395.640       3713.148       7975.085      12807.336

In [91]:
df = st

In [92]:
df['Florida', ]

        Population Income Illiteracy Life.Exp Murder HS.Grad Frost Area
Florida 8277       4815   1.3        70.66    10.7   52.6    11    54090

In [93]:
df['Income']

               Income
Alabama        3624
Alaska         6315
Arizona        4530
Arkansas       3378
California     5114
Colorado       4884
Connecticut    5348
Delaware       4809
Florida        4815
Georgia        4091
Hawaii         4963
Idaho          4119
Illinois       5107
Indiana        4458
Iowa           4628
Kansas         4669
Kentucky       3712
Louisiana      3545
Maine          3694
Maryland       5299
Massachusetts  4755
Michigan       4751
Minnesota      4675
Mississippi    3098
Missouri       4254
Montana        4347
Nebraska       4508
Nevada         5149
New Hampshire  4281
New Jersey     5237
New Mexico     3601
New York       4903
North Carolina 3875
North Dakota   5087
Ohio           4561
Oklahoma       3983
Oregon         4660
Pennsylvania   4449
Rhode Island   4558
South Carolina 3635
South Dakota   4167
Tennessee      3821
Texas          4188
Utah           4022
Vermont        3907
Virginia       4701
Washington     4864
West Virginia  3617
Wisconsin      4468
Wyoming        4566

In [94]:
df['Texas','Area']

[1] 262134

In [95]:
df['Ohio', c('Population', 'Income')]

     Population Income
Ohio 10735      4561

In [97]:
df[df['Population'] >= 5000, ]

               Population Income Illiteracy Life.Exp Murder HS.Grad Frost
California     21198      5114   1.1        71.71    10.3   62.6     20
Florida         8277      4815   1.3        70.66    10.7   52.6     11
Illinois       11197      5107   0.9        70.14    10.3   52.6    127
Indiana         5313      4458   0.7        70.88     7.1   52.9    122
Massachusetts   5814      4755   1.1        71.83     3.3   58.5    103
Michigan        9111      4751   0.9        70.63    11.1   52.8    125
New Jersey      7333      5237   1.1        70.93     5.2   52.5    115
New York       18076      4903   1.4        70.55    10.9   52.7     82
North Carolina  5441      3875   1.8        69.21    11.1   38.5     80
Ohio           10735      4561   0.8        70.82     7.4   53.2    124
Pennsylvania   11860      4449   1.0        70.43     6.1   50.2    126
Texas          12237      4188   2.2        70.90    12.2   47.4     35
               Area
California     156361
Florida         54090
Illinois        55748
Indiana         36097
Massachusetts    7826
Michigan        56817
New Jersey       7521
New York        47831
North Carolina  48798
Ohio            40975
Pennsylvania    44966
Texas          262134

In [98]:
df[df['Income'] >= 4500, c('Population','Income','Area')]

              Population Income Area
Alaska          365      6315   566432
Arizona        2212      4530   113417
California    21198      5114   156361
Colorado       2541      4884   103766
Connecticut    3100      5348     4862
Delaware        579      4809     1982
Florida        8277      4815    54090
Hawaii          868      4963     6425
Illinois      11197      5107    55748
Iowa           2861      4628    55941
Kansas         2280      4669    81787
Maryland       4122      5299     9891
Massachusetts  5814      4755     7826
Michigan       9111      4751    56817
Minnesota      3921      4675    79289
Nebraska       1544      4508    76483
Nevada          590      5149   109889
New Jersey     7333      5237     7521
New York      18076      4903    47831
North Dakota    637      5087    69273
Ohio          10735      4561    40975
Oregon         2284      4660    96184
Rhode Island    931      4558     1049
Virginia       4981      4701    39780
Washington     3559      4864    66570
Wyoming         376      4566    97203

In [105]:
nrow(df[df['Income'] >= 4500, ])

[1] 26

In [101]:
nrow(subset(st, Income >= 4500))

[1] 26

In [ ]:
# nrow : 행의 개수를 셈
# ncol : 열의 개수를 셈

In [106]:
df[df['Area'] >= 100000 & df['Frost'] >= 120, ]

           Population Income Illiteracy Life.Exp Murder HS.Grad Frost Area
Alaska      365       6315   1.5        69.31    11.3   66.7    152   566432
Colorado   2541       4884   0.7        72.06     6.8   63.9    166   103766
Montana     746       4347   0.6        70.56     5.0   59.2    155   145587
Nevada      590       5149   0.5        69.03    11.5   65.2    188   109889
New Mexico 1144       3601   2.2        70.32     9.7   55.2    120   121412

In [108]:
df[df['Population'] < 2000 & df['Murder'] < 12, ]

              Population Income Illiteracy Life.Exp Murder HS.Grad Frost Area
Alaska         365       6315   1.5        69.31    11.3   66.7    152   566432
Delaware       579       4809   0.9        70.06     6.2   54.6    103     1982
Hawaii         868       4963   1.9        73.60     6.2   61.9      0     6425
Idaho          813       4119   0.6        71.87     5.3   59.5    126    82677
Maine         1058       3694   0.7        70.39     2.7   54.7    161    30920
Montana        746       4347   0.6        70.56     5.0   59.2    155   145587
Nebraska      1544       4508   0.6        72.60     2.9   59.3    139    76483
Nevada         590       5149   0.5        69.03    11.5   65.2    188   109889
New Hampshire  812       4281   0.7        71.23     3.3   57.6    174     9027
New Mexico    1144       3601   2.2        70.32     9.7   55.2    120   121412
North Dakota   637       5087   0.8        72.78     1.4   50.3    186    69273
Rhode Island   931       4558   1.3        71.90     2.4   46.4    127     1049
South Dakota   681       4167   0.5        72.08     1.7   53.3    172    75955
Utah          1203       4022   0.6        72.90     4.5   67.3    137    82096
Vermont        472       3907   0.6        71.64     5.5   57.1    168     9267
West Virginia 1799       3617   1.4        69.48     6.7   41.6    100    24070
Wyoming        376       4566   0.6        70.29     6.9   62.9    173    97203

In [113]:
mean(df[df['Illiteracy'] >= 2.0, 'Income'])

[1] 3683.143

In [119]:
mean(df[df['Illiteracy'] < 2.0, 'Income'])

[1] 4558.326

In [120]:
mean(df[df['Illiteracy'] < 2.0, 'Income']) - mean(df[df['Illiteracy'] >= 2.0, 'Income'])

[1] 875.1827

In [114]:
mean(df[df['Illiteracy'] < 2.0, 'income'])

Warning message in mean.default(df[df["Illiteracy"] < 2, "income"]):
"argument is not numeric or logical: returning NA"

[1] NA

In [126]:
rownames(df[df['Life.Exp'] == max(df['Life.Exp']), ])

[1] "Hawaii"

In [131]:
df['Pennsylvania', ]

             Population Income Illiteracy Life.Exp Murder HS.Grad Frost Area
Pennsylvania 11860      4449   1          70.43    6.1    50.2    126   44966

In [130]:
df['Pennysylvania',]

   Population Income Illiteracy Life.Exp Murder HS.Grad Frost Area
NA NA         NA     NA         NA       NA     NA      NA    NA

In [129]:
df['Pennysylvania','Income']

[1] NA

In [134]:
df['Pennsylvania','Income']

[1] 4449

In [136]:
rownames(df[df['Income'] > df['Pennsylvania','Income'], ])

 [1] "Alaska"        "Arizona"       "California"    "Colorado"
 [5] "Connecticut"   "Delaware"      "Florida"       "Hawaii"
 [9] "Illinois"      "Indiana"       "Iowa"          "Kansas"
[13] "Maryland"      "Massachusetts" "Michigan"      "Minnesota"
[17] "Nebraska"      "Nevada"        "New Jersey"    "New York"
[21] "North Dakota"  "Ohio"          "Oregon"        "Rhode Island"
[25] "Virginia"      "Washington"    "Wisconsin"     "Wyoming"