In [2]:
df = mtcars

In [4]:
class(mtcars)

[1] "data.frame"

In [3]:
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [5]:
dim(df)

[1] 32 11

In [6]:
str(df)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [9]:
rownames(df[df['mpg'] == max(df['mpg']), ])

[1] "Toyota Corolla"

In [12]:
rownames(df[df$gear == min(df$gear) & df$mpg == min(df$mpg), ])

[1] "Cadillac Fleetwood"  "Lincoln Continental"

In [15]:
rownames(df[df$mpg > df['Pontiac Firebird', 'mpg'], ])

 [1] "Mazda RX4"      "Mazda RX4 Wag"  "Datsun 710"     "Hornet 4 Drive"
 [5] "Merc 240D"      "Merc 230"       "Fiat 128"       "Honda Civic"
 [9] "Toyota Corolla" "Toyota Corona"  "Fiat X1-9"      "Porsche 914-2"
[13] "Lotus Europa"   "Ferrari Dino"   "Volvo 142E"

In [16]:
mean(df$mpg)

[1] 20.09062

In [17]:
unique(df$gear)

[1] 4 3 5

In [18]:
levels(df$gear)

NULL

In [20]:
table(df$gear)

 3  4  5
15 12  5

In [21]:
df = airquality

In [22]:
class(df)

[1] "data.frame"

In [23]:
head(df)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [28]:
df[df$Temp == max(df$Temp), c('Month', 'Day')]

    Month Day
120 8     28

In [27]:
df[df$Month == 6 & df$Wind == max(df$Wind), 'Wind']

[1] 20.7

In [33]:
mean(df[df$Month == 7, 'Wind'])

[1] 8.941935

In [35]:
mean(df[df$Month == 5, 'Ozone'], na.rm = T)

[1] 23.61538

In [43]:
length(df[df$Ozone > 100, ])

[1] 6

In [44]:
df = swiss

In [45]:
str(df)

'data.frame':	47 obs. of  6 variables:
 $ Fertility       : num  80.2 83.1 92.5 85.8 76.9 76.1 83.8 92.4 82.4 82.9 ...
 $ Agriculture     : num  17 45.1 39.7 36.5 43.5 35.3 70.2 67.8 53.3 45.2 ...
 $ Examination     : int  15 6 5 12 17 9 16 14 12 16 ...
 $ Education       : int  12 9 5 7 15 7 7 8 7 13 ...
 $ Catholic        : num  9.96 84.84 93.4 33.77 5.16 ...
 $ Infant.Mortality: num  22.2 22.2 20.2 20.3 20.6 26.6 23.6 24.9 21 24.4 ...

In [48]:
rownames(df[df$Agriculture == max(df$Agriculture), ])

[1] "Herens"

In [51]:
df

             Fertility Agriculture Examination Education Catholic
Courtelary   80.2      17.0        15          12          9.96
Delemont     83.1      45.1         6           9         84.84
Franches-Mnt 92.5      39.7         5           5         93.40
Moutier      85.8      36.5        12           7         33.77
Neuveville   76.9      43.5        17          15          5.16
Porrentruy   76.1      35.3         9           7         90.57
Broye        83.8      70.2        16           7         92.85
Glane        92.4      67.8        14           8         97.16
Gruyere      82.4      53.3        12           7         97.67
Sarine       82.9      45.2        16          13         91.38
Veveyse      87.1      64.5        14           6         98.61
Aigle        64.1      62.0        21          12          8.52
Aubonne      66.9      67.5        14           7          2.27
Avenches     68.9      60.7        19          12          4.43
Cossonay     61.7      69.3        22           5          2.82
Echallens    68.3      72.6        18           2         24.20
Grandson     71.7      34.0        17           8          3.30
Lausanne     55.7      19.4        26          28         12.11
La Vallee    54.3      15.2        31          20          2.15
Lavaux       65.1      73.0        19           9          2.84
Morges       65.5      59.8        22          10          5.23
Moudon       65.0      55.1        14           3          4.52
Nyone        56.6      50.9        22          12         15.14
Orbe         57.4      54.1        20           6          4.20
Oron         72.5      71.2        12           1          2.40
Payerne      74.2      58.1        14           8          5.23
Paysd'enhaut 72.0      63.5         6           3          2.56
Rolle        60.5      60.8        16          10          7.72
Vevey        58.3      26.8        25          19         18.46
Yverdon      65.4      49.5        15           8          6.10
Conthey      75.5      85.9         3           2         99.71
Entremont    69.3      84.9         7           6         99.68
Herens       77.3      89.7         5           2        100.00
Martigwy     70.5      78.2        12           6         98.96
Monthey      79.4      64.9         7           3         98.22
St Maurice   65.0      75.9         9           9         99.06
Sierre       92.2      84.6         3           3         99.46
Sion         79.3      63.1        13          13         96.83
Boudry       70.4      38.4        26          12          5.62
La Chauxdfnd 65.7       7.7        29          11         13.79
Le Locle     72.7      16.7        22          13         11.22
Neuchatel    64.4      17.6        35          32         16.92
Val de Ruz   77.6      37.6        15           7          4.97
ValdeTravers 67.6      18.7        25           7          8.65
V. De Geneve 35.0       1.2        37          53         42.34
Rive Droite  44.7      46.6        16          29         50.43
Rive Gauche  42.8      27.7        22          29         58.33
             Infant.Mortality
Courtelary   22.2
Delemont     22.2
Franches-Mnt 20.2
Moutier      20.3
Neuveville   20.6
Porrentruy   26.6
Broye        23.6
Glane        24.9
Gruyere      21.0
Sarine       24.4
Veveyse      24.5
Aigle        16.5
Aubonne      19.1
Avenches     22.7
Cossonay     18.7
Echallens    21.2
Grandson     20.0
Lausanne     20.2
La Vallee    10.8
Lavaux       20.0
Morges       18.0
Moudon       22.4
Nyone        16.7
Orbe         15.3
Oron         21.0
Payerne      23.8
Paysd'enhaut 18.0
Rolle        16.3
Vevey        20.9
Yverdon      22.5
Conthey      15.1
Entremont    19.8
Herens       18.3
Martigwy     19.4
Monthey      20.2
St Maurice   17.8
Sierre       16.3
Sion         18.1
Boudry       20.3
La Chauxdfnd 20.5
Le Locle     18.9
Neuchatel    23.0
Val de Ruz   20.0
ValdeTravers 19.5
V. De Geneve 18.0
Rive Droite  18.2
Rive Gauche  19.3

In [54]:
sort(df, T)

ERROR: Error in xtfrm.data.frame(x): cannot xtfrm data frames

In [58]:
swiss[order(swiss$Agriculture, decreasing=T), ]

             Fertility Agriculture Examination Education Catholic
Herens       77.3      89.7         5           2        100.00
Conthey      75.5      85.9         3           2         99.71
Entremont    69.3      84.9         7           6         99.68
Sierre       92.2      84.6         3           3         99.46
Martigwy     70.5      78.2        12           6         98.96
St Maurice   65.0      75.9         9           9         99.06
Lavaux       65.1      73.0        19           9          2.84
Echallens    68.3      72.6        18           2         24.20
Oron         72.5      71.2        12           1          2.40
Broye        83.8      70.2        16           7         92.85
Cossonay     61.7      69.3        22           5          2.82
Glane        92.4      67.8        14           8         97.16
Aubonne      66.9      67.5        14           7          2.27
Monthey      79.4      64.9         7           3         98.22
Veveyse      87.1      64.5        14           6         98.61
Paysd'enhaut 72.0      63.5         6           3          2.56
Sion         79.3      63.1        13          13         96.83
Aigle        64.1      62.0        21          12          8.52
Rolle        60.5      60.8        16          10          7.72
Avenches     68.9      60.7        19          12          4.43
Morges       65.5      59.8        22          10          5.23
Payerne      74.2      58.1        14           8          5.23
Moudon       65.0      55.1        14           3          4.52
Orbe         57.4      54.1        20           6          4.20
Gruyere      82.4      53.3        12           7         97.67
Nyone        56.6      50.9        22          12         15.14
Yverdon      65.4      49.5        15           8          6.10
Rive Droite  44.7      46.6        16          29         50.43
Sarine       82.9      45.2        16          13         91.38
Delemont     83.1      45.1         6           9         84.84
Neuveville   76.9      43.5        17          15          5.16
Franches-Mnt 92.5      39.7         5           5         93.40
Boudry       70.4      38.4        26          12          5.62
Val de Ruz   77.6      37.6        15           7          4.97
Moutier      85.8      36.5        12           7         33.77
Porrentruy   76.1      35.3         9           7         90.57
Grandson     71.7      34.0        17           8          3.30
Rive Gauche  42.8      27.7        22          29         58.33
Vevey        58.3      26.8        25          19         18.46
Lausanne     55.7      19.4        26          28         12.11
ValdeTravers 67.6      18.7        25           7          8.65
Neuchatel    64.4      17.6        35          32         16.92
Courtelary   80.2      17.0        15          12          9.96
Le Locle     72.7      16.7        22          13         11.22
La Vallee    54.3      15.2        31          20          2.15
La Chauxdfnd 65.7       7.7        29          11         13.79
V. De Geneve 35.0       1.2        37          53         42.34
             Infant.Mortality
Herens       18.3
Conthey      15.1
Entremont    19.8
Sierre       16.3
Martigwy     19.4
St Maurice   17.8
Lavaux       20.0
Echallens    21.2
Oron         21.0
Broye        23.6
Cossonay     18.7
Glane        24.9
Aubonne      19.1
Monthey      20.2
Veveyse      24.5
Paysd'enhaut 18.0
Sion         18.1
Aigle        16.5
Rolle        16.3
Avenches     22.7
Morges       18.0
Payerne      23.8
Moudon       22.4
Orbe         15.3
Gruyere      21.0
Nyone        16.7
Yverdon      22.5
Rive Droite  18.2
Sarine       24.4
Delemont     22.2
Neuveville   20.6
Franches-Mnt 20.2
Boudry       20.3
Val de Ruz   20.0
Moutier      20.3
Porrentruy   26.6
Grandson     20.0
Rive Gauche  19.3
Vevey        20.9
Lausanne     20.2
ValdeTravers 19.5
Neuchatel    23.0
Courtelary   22.2
Le Locle     18.9
La Vallee    10.8
La Chauxdfnd 20.5
V. De Geneve 18.0

In [61]:
df[df$Catholic > 80, ]['Agriculture']

             Agriculture
Delemont     45.1
Franches-Mnt 39.7
Porrentruy   35.3
Broye        70.2
Glane        67.8
Gruyere      53.3
Sarine       45.2
Veveyse      64.5
Conthey      85.9
Entremont    84.9
Herens       89.7
Martigwy     78.2
Monthey      64.9
St Maurice   75.9
Sierre       84.6
Sion         63.1

In [63]:
df[df$Examination < 20 & df$Agriculture < 50, ][c('Examination', 'Agriculture')]

             Examination Agriculture
Courtelary   15          17.0
Delemont      6          45.1
Franches-Mnt  5          39.7
Moutier      12          36.5
Neuveville   17          43.5
Porrentruy    9          35.3
Sarine       16          45.2
Grandson     17          34.0
Yverdon      15          49.5
Val de Ruz   15          37.6
Rive Droite  16          46.6

In [66]:
df = data.frame(state.x77)

In [68]:
df[df$Income >= 5000, ][c('Income', 'Population', 'Area')]

             Income Population Area
Alaska       6315     365      566432
California   5114   21198      156361
Connecticut  5348    3100        4862
Illinois     5107   11197       55748
Maryland     5299    4122        9891
Nevada       5149     590      109889
New Jersey   5237    7333        7521
North Dakota 5087     637       69273

In [71]:
count <- 0
add <- 0
for(i in 1:100){
    if(i%%3 == 0){
        add <- add + 1
        count <- count + i
    }
}

In [72]:
add
count

[1] 33

[1] 1683

In [73]:
for(i in 101:200){
    if(i%%3==0 & i%%4 == 0){
        cat(i, " ")
    }
}

108  120  132  144  156  168  180  192